[2017-02-24 02:36] Wack0 opened #2 "reddit.com is listed twice"

[2017-02-24 02:37] pirate commented on #2
Yes I know, I'm de-duplicating and sorting once I finish running the scrape.

[2017-02-24 02:37] #2 closed

[2017-02-24 03:51] aryeh-looker opened #8 "Duplicates"
Lots of duplicates!

[code]

[2017-02-24 03:53] pirate commented on #8
... odd, I ran uniq on it before compressing.  I guess I should've double checked!

[2017-02-24 04:00] pirate commented on #8
Fixed in 1d388c3, uploading now.

[2017-02-24 04:01] pirate commented on #8
Done: https://github.com/pirate/sites-using-cloudflare/raw/master/sorted_unique.zip

[2017-02-24 04:01] #8 closed

[2017-02-24 04:04] GusCaplan opened #11 "zip file"
zip file has `/Users/squash/Desktop/sorted_unique_cf.txt` instead of just `sorted_unique_cf.txt` at the root, probably as a result of macos zip fuckery

[2017-02-24 04:06] fluxsauce commented on #11
Fixed in https://github.com/pirate/sites-using-cloudflare/commit/1d388c32805f3b501226f3bc1e3484e9d6a444c2

[2017-02-24 04:07] #11 closed

[2017-02-24 04:14] mralext20 opened #13 "Remove 1password based on Twitter for cloudflare and 1password"
https://twitter.com/Cloudflare/status/834940080397529088
https://twitter.com/1Password/status/834933333704359937

[2017-02-24 04:16] pirate commented on #13
Just edited the readme.

[2017-02-24 04:16] #13 closed

[2017-02-24 04:23] Adoroam opened #14 "Alphabetical order?"
You could make the list more human friendly if you alphabetize it. I would suggest just copying the list into a decent text editor and telling it to sort the lines. It's a quick and easy fix, but I feel like it would help a lot of people.

[2017-02-24 04:29] pirate commented on #14
The full list is sorted alphabetically, the *Notable* section is sorted based on roughly how important I think it is to change passwords (i.e. money-related sites first).

I can sort the Alexa 10,000 once I get home, I'm about to head out.

[2017-02-24 04:29] pirate opened #16 "BRB biking home, will continue updates in an hour"
Sorry guys I have to commute home, I'll resume accepting correction PRs once I get home.

[2017-02-24 04:48] basisbit opened #18 "many of the listed domains not affected"
It looks like many of the listed domain don't or didn't use any of the affected cloudflare "features" (for example the reverse proxying) which had to be enabled for a website to possibly be affected. Please bear in mind this repository is referenced and mentioned all over the news now. Please make sure you correctly make assumptions, mark what is an assumption and then filter the list.

[2017-02-24 04:48] Xaekai opened #19 "Make disclaimer clearer and add methodology section"
As one of the admins of a site listed in your zip file, I'd like to know how exactly you derived this information, since our site absolutely does not use Cloudflare's reverse proxy.

It does use Cloudflares DNS, but that's not the same thing and didn't expose any users to data leakage.

[2017-02-24 04:52] tycoonlover1359 commented on #19
Although I'm not a contributor or otherwise administrator of this repository, I'm going to take a guess saying that your site was included as a precautionary measure. Although your site may be using a different part or service CloudFlare provides, it is better that people change their passwords on this site instead of leaving it the same. This also provides a reason for people to stop using the sa

[2017-02-24 04:55] tycoonlover1359 commented on #18
Although I'm not an administrator or contributor of this list, I'm going to take a guess and say that the sites you have described are in this list as a precautionary measure. These sites have likely been found to have somehow been affected by this breach, whether by another site requesting it that did use CloudFlare's services or otherwise. Again, I'm not someone that maintains this, so this is j

[2017-02-24 04:56] flaw600 commented on #19
Not really. It's already been confirmed that Cloudflare DNS was not compromised and the GH admin has said to contact them.

As for @Xaeki, the admin has said that they included all sites that used any Cloudflare service

[2017-02-24 04:56] basisbit commented on #19
@tycoonlover1359 I strongly disagree because in such a case, that service is not affected by #cloudbleed at all. Even most websites using cloudflare reverse proxy are not affected because they didn't use any ot the email address obfuscation or the other two features which had to be enabled for a website to be affected by this issue. For details, read the article on the cloudflare blog.

Sure, you

[2017-02-24 05:02] basisbit commented on #18
This is not correct. Apparently, as others pointed out, this seems to be only a list of services which somehow use cloudflare. Seriously, for some of these pages I know for sure that they are not even using any of the affected features.

[2017-02-24 05:03] alienth opened #21 "stackoverflow not affected"
Per CloudFlare's report, earliest that a site could have been affected was 2016-09-22. I moved StackOverflow and related sites off of CloudFlare in June and July of 2016. As such, not possibly affected by this issue.

[2017-02-24 05:05] dweinstein opened #22 "Add affected domains used by some iOS apps"
these haven't been all manually confirmed but was based on the connections made by each app during dynamic analysis https://gist.github.com/dweinstein/a30f5814dde36425de7bef4168469ac4

[2017-02-24 05:10] youanden commented on #19
@basisbit actually the issue could affect sites not using the technologies if they used the reverse proxy feature by way of memory leaks through other accounts since cloudflare proxies are not dedicated but shared between clients.

[2017-02-24 05:12] sroracle opened #23 "More sites"
warbyparker.com
ramnode.com
clientarea.ramnode.com
ipsw.me
puush.me
freenode.net
trakt.tv

[2017-02-24 05:14] Xaekai commented on #19
My point is scraping for every site that just uses Cloudflare's DNS will lead to tens of thousands of false positives. It is irresponsible to list them at all.

[2017-02-24 05:15] turtledude01 opened #24 "Remove my site"
The site 'turtle-mc.org' is owned and operated by me and is so small and unused that the chance of it being affected is 1 in literally 10 trillion so please remove it from your zip file.

[2017-02-24 05:16] basisbit commented on #18
@CAD97 in that case the readme.md defintiely needs to be fixed because it states that all listed websites are actually affected. Also, I am wondering what use there is for this list now. You scare lots of customers and lots of it departments now get angry calls from managers because of this list. Thanks a lot.

[2017-02-24 05:25] turtledude01 commented on #24
theres another site aswell - codywentz.com is my friends site that is literally never online and when it is it isnt using the affected things... You really need to clean up your list and stop spreading false information NOW.  The affected sites is less than 200

[2017-02-24 05:27] turtledude01 commented on #24
OOH and another site: radicaldelta.org (Also owned by me) Seriously im tired of this, get your crap straight... Noone needs a list of EVERY SITE RUN THROUGH CLOUDFLARE.

[2017-02-24 05:29] flaw600 commented on #19
@youanden has that been confirmed or are you simply guessing? Because at face value your explanation seems illogical to me

[2017-02-24 05:29] flaw600 commented on #19
Cloudflare to my knowledge has confirmed that customers not using the affected services have not been compromised in their postmortem

[2017-02-24 05:30] basisbit commented on #24
this is not even a list of every site running through cloudflare. Websites which only use cloudflare dns are also listed even if they don't run through cloudflare.

[2017-02-24 05:33] turtledude01 commented on #24
This is just a bs list then right? Im kind of tired of people screaming at me in multiple discord/irc servers saying that Im an idiot for thinking My tiny site wasnt affected

[2017-02-24 05:35] abalabahaha commented on #19
[The Cloudflare blog post](https://blog.cloudflare.com/incident-report-on-memory-leak-caused-by-cloudflare-parser-bug/) does say this though:

[code]

[2017-02-24 05:41] basisbit commented on #19
@abalabahaha @youanden again: as long as you didn't use the cloudflare reverse proxy service, your sites was not affected by this issue. There is no valuable user information that could have been leaked on any website which is for example only using the cloudflare dns service.

[2017-02-24 05:43] kn00tcn commented on #24
what does it even matter if your site doesnt have user logins? now you'll get new visitors from those that open this thread

people are screaming at you? either there's something valuable or you're not as tiny or they are dumb

[2017-02-24 05:45] kn00tcn commented on #21
i saw blip.tv in the list, but blip was shut down & it redirects to maker, sounds like the same situation

[2017-02-24 05:46] abalabahaha commented on #19
@basisbit I was replying to flaw's question to youanden, who specifically stated in his statement that "the issue could affect sites not using the technologies **if they used the reverse proxy feature**." I agree that if a site wasn't using Cloudflare reverse proxy, it wasn't affected.

[2017-02-24 05:48] turtledude01 commented on #24
I'm exaggerating but it is really annoying having people tell me that "no no no your sites on the list it MUST be affected"

[2017-02-24 05:56] basisbit commented on #24
also see #17 . that should make this less of a problem.

[2017-02-24 05:57] pirate commented on #16
And I'm back!

[2017-02-24 05:57] #16 closed

[2017-02-24 05:58] turtledude01 commented on #24
Ah yes, great idea there

[2017-02-24 05:58] pirate commented on #18
What wording would you propose I use?
I'm open to changing it, but for now I'd rather list everything and remove urls one-by-one as people provide proof that they aren't affected.  The alternative is to only provide URLs that are proven leaked, which means this list will be dangerously out of date until we collect all the data manually.

[2017-02-24 05:59] pirate commented on #18
@basisbit I'm aware that this list will cause a lot of angry calls, unfortunately that's the result of a leak like this.  Luckily people who can prove that they aren't affected will be able to sigh in relief and wont have much work to do.

[2017-02-24 06:00] basisbit commented on #18
see #17 .

[2017-02-24 06:00] coderobe opened #28 "Remove sites not affected by this vuln"
Several (currently listed) sites, including `coderobe.net` and `rob1nn.pw` which [i'm the provable owner of](https://keybase.io/coderobe) were not affected by this vulnerability. This should:
- Be stated in readme.md
OR:
- Removed from the zip entirely

Now that this repository is making the news, this could potentially hurt the reputation of many sites.

[2017-02-24 06:01] pirate commented on #19
@Xaekai I agree that it's slightly misleading to list everything.  The issue is that DNS scraping is easy and fast, and will provide an initial list that we can then use to narrow down.
The next steps are:

1. narrow down this list by scraping sites to see if they use SSL proxying
2. notify the unaffected sites that they have been removed
3. notify the affected sites that they are still on this li

[2017-02-24 06:02] coderobe commented on #28
Creating PRs for this is not very useful, because the file is zipped - which makes merging multiple PRs nearly impossible / an infeasible thing to do. I'd suggest a switch to keeping the file(s) uncompressed, potentially split into multiple files.

[2017-02-24 06:03] pirate commented on #22
Swamped with messages right now.  Feel free to add these to the zipped file, run `uniq | sort` and submit a PR, otherwise I'll try and add these in a bit when I have time.

[2017-02-24 06:05] pirate commented on #24
@turtledude01 I can understand your frustration, getting put on a list like this sucks because it makes users who don't understand the issue think something is your fault.
Unfortunately it would take me days to scrape and manually confirm that all these sites are using the SSL proxy, so I started with the broad DNS scrape and we can narrow it down from there.
See https://github.com/pirate/sites-us

[2017-02-24 06:06] basisbit commented on #18
@pirate see #17 .

[2017-02-24 06:06] pirate commented on #24
I'll be removing sites one-by-one as they confirm they aren't affected.

[2017-02-24 06:06] turtledude01 commented on #24
Then please remote turtle-mc.org, radicaldelta.org, and codywentz.com as I own 2 and my friend owns the other.

[2017-02-24 06:07] pirate commented on #28
@coderobe good ideas on both count. I'll be updating the README shortly and uploading the unzipped file.

[2017-02-24 06:07] tycoonlover1359 opened #29 "Procedure for getting your domains removed"
**Note: I am not an official contributor of this repository nor am I affiliated with the owner of it in any way. I am simply just a person attempting to help the owner of the repository**

I am speaking based on what I have seen others comment on the issues of this list, and I will provide answer I've tried gathering based on what @pirate has stated in other issues and the main page. **I will upda

[2017-02-24 06:09] pirate commented on #18
@basisbit #17 is merged, I'm currently changing the wording in the readme to make it very clear that the list is not definitive proof that these sites are compromised.

[2017-02-24 06:11] turtledude01 commented on #24
If you get the unzipped file uploaded soon enough I wont worry about having you remove my sites and ill take care of it myself in a pr

[2017-02-24 06:12] CubeBag commented on #24
Even if there is a 0.001% chance it was affected, the site still shouldn't be removed unless there is solid proof that it was never vulnerable. Winning the lottery is unlikely but possible, and it's better (in my opinion) to have a false positive than a false negative.

[2017-02-24 06:12] pirate commented on #18
I've added a disclaimer to the README: https://github.com/pirate/sites-using-cloudflare#full-list

[2017-02-24 06:13] turtledude01 commented on #24
In my 'opinion' a site that gets maybe 1 visitor per 12 hours does not need to be on this list as the usefullness of it being on this list is NONE

[2017-02-24 06:14] pirate commented on #28
I've added a disclaimer to the README: https://github.com/pirate/sites-using-cloudflare#full-list
The text file is currently uploading (it's huge), I'll edit this comment with a link to it once it's completed.

[2017-02-24 06:15] pirate commented on #29
Thanks for the help! I've added a disclaimer to the readme that should help alleviate this issue: https://github.com/pirate/sites-using-cloudflare#full-list

If anyone wants to propose different wording, please submit a PR.

[2017-02-24 06:16] Xaekai commented on #19
Just because it's easy and fast doesn't mean publishing the results is in any way best practice, professional, on even helpful. The disclaimer that the listed sites _may not actually be affected at all_ should have been **much more emphatic**.

At the very least, they should have been categorized by method of detection, with an explanation outlining the unreliability of the broader DNS scraping me

[2017-02-24 06:19] pirate commented on #14
Alexa 10,000 is now sorted.

[2017-02-24 06:19] #14 closed

[2017-02-24 06:20] pirate commented on #19
I will add a methodology section, and bolden the disclaimer in the README.  If you'd like different wording, can you submit a PR?

[2017-02-24 06:21] basisbit commented on #19
@Xaekai /)

[2017-02-24 06:22] pirate commented on #21
Great! @alienth can you email me at verifystackoverflow@sweeting.me from a @stackoverflow.com email to confirm?

[2017-02-24 06:22] pirate commented on #18
See: https://github.com/pirate/sites-using-cloudflare/issues/19

[2017-02-24 06:22] #18 closed

[2017-02-24 06:25] pirate commented on #24
Sorry @turtledude01 I'm going to have to disagree with you there.  If your site used the Cloudflare TLS proxy at any time during the affected period I think it should stay on the list.  If you think the current wording will seriously affect your reputation, I invite you to contribute to making the disclaimer clearer over in https://github.com/pirate/sites-using-cloudflare/issues/19

[2017-02-24 06:25] #24 closed

[2017-02-24 06:27] pirate commented on #28
@coderobe happy to remove your sites as they're personal and don't appear to have any user data.  Just submit a PR and I'll recompress the zip for you.

[2017-02-24 06:27] #28 closed

[2017-02-24 06:29] turtledude01 commented on #24
Wow, even if i can 100% say my sites have not been affected by this you refuse to remove them? freaking great

[2017-02-24 06:30] basisbit commented on #18
usually, you'd mark the newer issues as duplicates and then modify the name of the issue as required. but whatever works best for you :)

[2017-02-24 06:30] urc commented on #18
Closing this issue is a bit premature, given that many people are waking up to this, and finding all their domains listed in your file, purely because they are using Cloudflare DNS, without any of the Cloudflare proxy features. It's simply undoable for a hosting service of any reasonable size to request that the domains that shouldn't be on the list be removed from it.

Just the parked domains to

[2017-02-24 06:30] turtledude01 commented on #24
I believe that if somone requests for their site to be removed it should be removed

[2017-02-24 06:34] tycoonlover1359 commented on #18
@urc This list contains sites that have **possibly** been affected by this. #29

[2017-02-24 06:34] pirate commented on #21
Done: https://github.com/pirate/sites-using-cloudflare/commit/b637f6f51509ff0a9ac4567d79d5aa8588e9e9fd
I'd prefer to move it to the bottom with a (not affected) flag like the others, let me know if that's an issue.

[2017-02-24 06:34] #21 closed

[2017-02-24 06:37] turtledude01 opened #35 "Explain how to 'prove' my sites were not affected"

[2017-02-24 06:40] youngj commented on #19
Also there are some sites that are using the CloudFlare SSL proxy without using CloudFlare DNS -- for example betterment.com is using Amazon Route 53 and is not in sorted_unique_cf.txt . Basically I think you just have to make HTTPS requests and look for the `CF-Ray` or `Server: cloudflare-nginx` header. It probably would be useful for someone to write a script to make requests to the domains in s

[2017-02-24 06:40] pirate commented on #35
Can you list the domains you want removed, and whether or not they contain user data.
I will check if they are using the SSL proxy.

If your site is just a static site or has no personal user data, I'm happy to remove it.

[2017-02-24 06:41] thislooksfun opened #37 "Tools for easily searching the list"
It might be nice to have a searchable HTML site for the non-programmers that don't know how to use Github/grep. I am willing to throw one together early tomorrow afternoon (~13hrs from now), but if anyone wants to do it sooner, I wouldn't complain.

EDIT: Here's the list so far:
http://www.doesitusecloudflare.com/ (doesn't search the historical list, it's just current sites)
https://chrome.google.

[2017-02-24 06:41] urc commented on #18
@tycoonlover1359 This list contains a ton of sites that are provably not affected my this. Restating the same defense over and over does not change that fact.

[2017-02-24 06:42] pirate commented on #37
I was planning on setting this up at some point, but if anyone else wants to toss one together before me, go for it.

[2017-02-24 06:42] abalabahaha commented on #37
I might be taking a stab at this in a few hours

[2017-02-24 06:43] coderobe commented on #37
You can open the txt in a browser tab and ctrl-f, there is no need for a website IMO

If there's gonna be one, i suggest keeping that in it's own repository though

[2017-02-24 06:43] abalabahaha commented on #37
@coderobe not everyone wants to load a 68.4MB txt to search a single string

[2017-02-24 06:44] tycoonlover1359 commented on #37
I would definitely agree with this. I'd make one myself, however I only know EXTREMELY basic HTML.

@coderobe A site for this would look a lot better, and be more user friendly.

[2017-02-24 06:44] pirate commented on #24
@turtledude01 I'm happy to remove static sites with no personal data, but sites that have possibly exposed personal data need to stay on the list.

[2017-02-24 06:44] thislooksfun commented on #37
Yes, but people might not know that. Since this affects more than just us people familiar with GitHub and even that web browsers have a search function, it would be nice.

I would do it now, but I unfortunately really need to get to bed so I can actually function in the morning. If nobody else has taken it up by the time I'm free I will take a stab at it.

[2017-02-24 06:44] turtledude01 commented on #35
radicaldelta.org has only 1 account which is mine so remove it.  Friends site 'codywentz.com' has not had user accounds ever, tho I cant prove this... turtle-mc.org has a couple of user accounts running through joomla

[2017-02-24 06:45] coderobe commented on #37
I agree. Still, keeping it in a different repository would be beneficial for easy management / version control of the "database"

[2017-02-24 06:45] urc commented on #19
I would strongly suggest putting the disclaimer at the top of the README, instead of where it is now.

[2017-02-24 06:47] abalabahaha commented on #37
Agreed, since the site code should be mostly static after initial development. Having a link here directing to the other repo/site is enough.

[2017-02-24 06:47] pirate commented on #35
radicaldelta.org and turtle-mc.org are both returning `server:cloudflare-nginx`, codywentz.com is down so I cant check it.

[2017-02-24 06:49] turtledude01 commented on #35
like i said, radicaldelta.org has ONLY 1 account which is MY OWN ACCOUNT and codywentz.com is barely ever up, doesnt use cloudflare for anything other than dns, and doesnt have user accounts.  turtle-mc.org is the only one that could have 'potentially' (1 in ~2 trillion chance) have leaked information.

[2017-02-24 06:49] coderobe commented on #35
describing the underlying tech stack would give some insight as well.

turtle-mc was likely affected, because it's using the cloudflare reverse proxy and runs joomla, which provides an account system

[2017-02-24 06:49] XhmikosR commented on #35
@pirate: can you remove plain static sites as well? Like https://github.com/XhmikosR/xhmikosr.io/tree/gh-pages

[2017-02-24 06:50] elifoster opened #40 "Pastee"
Paste.ee was affected

[2017-02-24 06:51] turtledude01 commented on #35
And if you refuse to remove turtle-mc.org or believe that it 100% was compromised then i would be happy to force a reset on all user passwords, which will send the users an email with a link to reset their password.  I refuse to 'prove' that this was done as that would be a security threat in itself

[2017-02-24 06:52] coderobe commented on #40
(the domain is https://paste.ee/)

[2017-02-24 06:53] tycoonlover1359 commented on #19
@urc #39

[2017-02-24 06:53] elifoster commented on #40
Yeah I searched 'pastee' and realized that there are more than just paste.ee, updated the op.

[2017-02-24 06:53] ravi-sensify opened #41 "Add LICENSE.md"
Please add `LICENSE.md` specifying what people can do with the data from here.

[2017-02-24 06:55] pirate opened #42 "Some sites may be using the CloudFlare SSL proxy without using CloudFlare DNS"
"Also there are some sites that are using the CloudFlare SSL proxy without using CloudFlare DNS -- for example betterment.com is using Amazon Route 53 and is not in sorted_unique_cf.txt . Basically I think you just have to make HTTPS requests and look for the CF-Ray or Server: cloudflare-nginx header. It probably would be useful for someone to write a script to make requests to the domains in sort

[2017-02-24 06:55] DanielMarquard opened #43 "DNS-only customers are included in the list"
Many of my domains, including [critcola.com](https://critcola.com), are included in this list. We use Cloudflare only for DNS, which was never affected by Cloudbleed. All of our traffic is through CloudFront.

I will send a pull request with my domains removed, but this list should really be filtered to remove domains that do not use Cloudflare as a CDN or for front-end caching.

[2017-02-24 06:56] robxu9 opened #44 "Please remove robxu9.com - static site."
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

Please remove robxu9.com since it's a static website using Github Pages - https://github.com/robxu9/robxu9.github.com
This is me: keybase.io/robxu9

I do use the TLS proxy but since it's a static site, no user data should be compromised.

Thanks!
-----BEGIN PGP SIGNATURE-----
Version: Keybase OpenPGP v2.0.64
Comment: https://keybase.io/crypto

wl4EA

[2017-02-24 06:56] coderobe commented on #35
Whilst there is no reason to believe that low-profile sites were affected, it's entirely possible - because the cf servers apparently also leaked unrelated data if it happened to be on the same node as a different website

This means that if your server was served on the same node as a high-profile site, and a login happened on your site during the last few months, it's completely possible that se

[2017-02-24 06:57] turtledude01 commented on #35
I just sent an email to every user of turtle-mc.org explaining that their account may have been leaked and I might be resetting passwords.  this better be enough to have it removed as its all i can do

[2017-02-24 06:57] tycoonlover1359 commented on #43
This is a very...crude...list of sites that use the CloudFlare DNS system. Please note the disclaimer on the README.md (otherwise, the first page you see)
"DISCLAIMER:

This list contains all domains that use cloudflare DNS, not just the cloudflare SSL proxy (the affected service that leaked data). It's a broad sweeping list that includes everything. Just because a domain is on the list does not m

[2017-02-24 06:57] pirate commented on #43
Yup, we added a disclaimer to the README explaining that this is a DNS list only.

I've confirmed critcola.com isn't using `server:cloudflare-nginx`, go ahead and submit your PR and I'll approve it.

[2017-02-24 06:57] #43 closed

[2017-02-24 06:57] basisbit commented on #41
this might be really difficult to do because of different / missing licenses on used sources. but then again, did you read the name of the creator of this repo? 😄

[2017-02-24 06:59] coderobe commented on #42
This might not be as easy as it sounds, CF will probably start to rate-limit the source IP if someone decides to curl every page on that list, providing inaccurate/incomplete results

[2017-02-24 06:59] pirate commented on #44
Perfect, thanks!  Done: d55d5f9

[2017-02-24 06:59] #44 closed

[2017-02-24 07:00] coderobe commented on #41
The content of this repository is not really something you can put behind a license.

[2017-02-24 07:00] robxu9 commented on #44
Thanks so much! 👍

[2017-02-24 07:00] pirate commented on #41
It's intentionally unlicensed.

[2017-02-24 07:00] #41 closed

[2017-02-24 07:04] pirate commented on #22
Linked to the file, since they aren't all domains https://github.com/pirate/sites-using-cloudflare/commit/d50488031aeed966a455b76f2b30114080b9b371

[2017-02-24 07:04] #22 closed

[2017-02-24 07:05] pirate commented on #23
Done

[2017-02-24 07:05] #23 closed

[2017-02-24 07:06] basisbit commented on #37
maybe putting cloudflare as cache in between github.io and that website would be a fun idea - now that they fixed the actual issue.

[2017-02-24 07:07] jrruwe commented on #19
You should just remove the connection between cloudflares dns customers and being possibly affected.  There is no strong connection between DNS and cloudflare's proxy service.  Literally millions of false positives.

[2017-02-24 07:11] Xaekai commented on #42
As long as you're requesting `HEAD` only (aka `curl -I`) with a throttled pool it shouldn't be an issue.

I could probably write up a little node.js script to automate the process.

[2017-02-24 07:13] coderobe commented on #42
I don't think the request / response size matters. What i think is that CF starts to throttle or bail out completely if you bombard them with requests. In those scenarios, most often quantity matters - not size

[2017-02-24 07:14] coderobe commented on #42
Possibly by showing those "Checking your browser... Please Wait" pages

[2017-02-24 07:14] pirate commented on #19
@jrruwe I'd argue there is a fairly strong correlation between users of the DNS and proxy services.

[2017-02-24 07:16] me4502 commented on #24
Probs me4502.com as well. No personal data has been stored or collected for a fairly long time now.

[2017-02-24 07:20] macdja38 opened #49 "Remove PvPCraft.ca, ryke.xyz"
Domains: pvpcraft.ca, ryke.xyz, both owned by me.

https://keybase.io/macdja38

ryke.xyz while not static does not store user data, it's a little experiment.
pvpcraft.ca uses cloudflare for DNS and while it does store user sessions the site is not proxied through cloudflare as services need to correct directly to the domain. The subdomain bot.pvpcraft.ca also stores sessions but uses oauth with an

[2017-02-24 07:23] pirate commented on #18
@urc @basisbit my apologies for closing this issue instead of the newer one.  I'm accepting PRs & Issues to remove unaffected sites, and we've made some significant changes to the README and disclaimer to make it clearer that many of these sites are not affected.  It's a fault of the DNS scraper that we've gotten lots of false positives, but unfortunately there's not an easy way to verify who was

[2017-02-24 07:26] pirate commented on #42
Now if only we could distribute this process... 😁

[2017-02-24 07:28] pirate commented on #49
pvpcraft.ca is running wordpress.  Unforunately it's hard to prove that you didn't have any users besides yourself during the affected period, since you could've deleted them.

Do you think being on this list will significantly affect your site's reputation?  (keep in mind lots of huge sites and banks are on the list, and they'll probably be fine)

[2017-02-24 07:29] macdja38 commented on #49
@pirate it's running word-press hosted on a server I control. I definitely had users other than me during the effected period but they were not being proxied through cloudflare. As you mentioned this list only checks DNS not proxying being enabled.

[2017-02-24 07:33] indiv0 opened #50 "Remove playlyst.xyz, nikitapek.in, dank.xyz"
**Domains**: playlyst.xyz, nikitapek.in, dank.xyz (all owned by me, playlyst.xyz actually just lapsed)

Sites are static (except dank.xyz) but none of them use CloudFlare SSL termination.

Proof sent to git@nicksweeting.com.

[2017-02-24 07:35] urc commented on #19
@pirate It very much depends. We use Cloudflare DNS for everything, including parked domains that have nothing but SPF, DKIM and DMARC records, and only a handful of zones with A/AAAA and CNAME records actually use the Cloudflare proxy. Out of those, only two are actually affected. The others are static content.

Thanks for moving the disclaimer to the top :)

[2017-02-24 07:36] pirate commented on #50
Got your proofs :+1:.  Mind submitting a PR?

[2017-02-24 07:36] indiv0 commented on #50
Sure thing.

[2017-02-24 07:48] #50 closed

[2017-02-24 07:49] indiv0 commented on #50
Thanks!

[2017-02-24 07:54] youngj commented on #42
I wrote a Go script to check a list of domains for the CF-Ray header: https://github.com/youngj/sites-using-cloudflare/blob/master/check_domains.go . I don't have time to actually filter the list of domains now, but perhaps someone else can use it.

[2017-02-24 07:55] pirate commented on #19
I've added a Methodology section: https://github.com/pirate/sites-using-cloudflare/blob/master/README.md#methodology

[2017-02-24 07:56] pirate commented on #19
Feel free to comment on this issue and I'll reopen if there are any significant objections.
You can also submit a PR if you feel like the methodology wording could be made clearer.

[2017-02-24 07:56] #19 closed

[2017-02-24 07:57] pirate commented on #49
It's a tough call, I trust you own the site, but I cant really confirm that you didn't have SSL proxying turned on during that period.  So far I've only accepted removals that have proved their sites are static, contain no user data, or were never on cloudflare during that period.

[2017-02-24 08:03] ravi-sensify opened #53 "README.md instruction to grep is too loose, needs to do an exact match"
Following the `README.md` instructions yields deceptive results.

e.g.
[code]

When in fact `reddit.com` isn't even in the list to begin with.

[2017-02-24 08:03] jrruwe commented on #42
Domains using cloudflare's reverse proxy should resolve to a cloudflare IP because the proxy's front end is owned by cloudflare.  You'll probably get really accurate results by just resolving the domain names and checking them against ASN blocks to see if they're cloudflare ip's.

[2017-02-24 08:04] ravi-sensify commented on #53
Submitted PR #54 to fix this.

[2017-02-24 08:07] SpEcHiDe commented on #35
Can you remove shrimadhavuk.me also from the list, because it is just a static site hosted by GitLab Pages built using Jekyll? I do not think I collect any user-data on the given site.

[2017-02-24 08:11] #53 closed

[2017-02-24 08:14] pirate commented on #40
Done: 87a248b

[2017-02-24 08:14] #40 closed

[2017-02-24 08:15] pirate commented on #35
@SpEcHiDe please submit a PR, I'll approve it if it's a static page.

@turtledude01 I'm closing this issue, as I said earlier, I'm only removing sites that are provably static content, contain no user data, or never used cloudflare during the affected period.

[2017-02-24 08:15] #35 closed

[2017-02-24 08:19] pirate commented on #29
I'm only removing sites that are provably static content (e.g. github pages), contain no user data, or never used cloudflare during the affected period.

For domain verification I need either a DKIM signed email from the domain, a keybase verification, or a file uploaded with a random number that I'll give you.

Open a PR to have a site removed, and put your proof in the description.

[2017-02-24 08:26] pirate commented on #42
@jrruwe that works, but unfortunately lots of people might be turning off cloudflare today, so the data will soon be out of date.

[2017-02-24 08:30] jrruwe commented on #42
I wonder if reverse dnsing the ip would return the old dns name even after the forward dns records have been changed??

[2017-02-24 08:31] coderobe commented on #42
that's not how reverse dns works

[2017-02-24 08:33] pirate commented on #29
I think there's enough documentation on how to submit requests, closing this for now.

[2017-02-24 08:33] #29 closed

[2017-02-24 08:34] pirate commented on #37
http://www.doesitusecloudflare.com/

[2017-02-24 08:34] #49 closed

[2017-02-24 09:25] ChelseaStats opened #60 "please remove sites"
Please remove thechels.co.uk (wordpress blog, only one user, me) and thechels.uk (static site hosted on github).

[2017-02-24 09:27] turtledude01 commented on #60
I can tell you already he probably wont remove it because its 'wordpress and has a user' he wont remove it unless it has no users and with wordpress/joomla you cant even prove to him that theres only 1/no users...

[2017-02-24 09:27] pirate commented on #60
Unfortunately I cant remove the wordpress blog because it's using cloudflare TLS `server:cloudflare-nginx` and it's very hard to prove that you were the only user during the affected period.

I'm happy to remove the github pages one though, just submit a PR.

[2017-02-24 09:30] pirate commented on #24
@me4502 submit PRs for the static sites if you haven't already and I'll approve 'em.

[2017-02-24 09:31] kevinendicott opened #62 "Please remove Vigilante.pw"
Please remove Vigilante.pw from the list. We do not store any user data and we don't store the breached databases that we report on, either. The website consists of a static page with a list of data breaches.

The same goes for DBDirectory.info and Disappear.today which are just mirrors of the site.

[2017-02-24 09:38] pirate commented on #62
No problem, just submit a PR with the changes I'll approve it.

[2017-02-24 09:48] kevinendicott commented on #62
Sorry, I'm new to Github and I'm a bit confused as to what I have to do on the "pull request" page.

[2017-02-24 09:49] pirate commented on #62
@kevinendicott no worries, I'll do it for you.

[2017-02-24 09:49] kevinendicott commented on #62
Thanks :)

[2017-02-24 09:51] pirate commented on #62
Done: 525d8a6

[2017-02-24 09:52] #62 closed

[2017-02-24 09:54] ymschaap opened #64 "Expose more domains using their (shared) certificates"
Their certificates, are used for multiple domains (alternative names). We can lookup all their certificates and expose the domains that are under that. E.g.:

https://www.ssllabs.com/ssltest/:
[code]

[2017-02-24 09:57] ChelseaStats commented on #60
I can't submit a PR because the filesize is too big from my ipad/iphone or github's uploader

Can you also remove jllpestcontrol.co.uk and catherinesglass.co.uk (both static sites on github I manage)

thanks

[2017-02-24 10:00] ravi-sensify commented on #60
I submitted PR #65 for you, @ChelseaStats

[2017-02-24 10:12] #60 closed

[2017-02-24 10:19] 33b5e5 opened #67 "Cloudflare DNS != Cloudflare SSL proxy"
"It's a broad sweeping list that includes everything. Just because a domain is on the list does not mean the site is compromised."

You already know this, so what exactly is the purpose of this overly broad list?

Cloudflare's DNS service is basically free. It's massively popular. Centralization of DNS may be worth debating, but it's an aside. Here you're just lumping all of these customers, many

[2017-02-24 10:19] ravi-sensify opened #68 "Move sorted_unique_cf.txt into Large File Storage (LFS)"
References:

* https://git-lfs.github.com/
* https://help.github.com/articles/working-with-large-files/

The file `sorted_unique_cf.txt` is already > 50MB, and GitHub recommends pushing it into LFS to improve performance without breaking any functionality.

[2017-02-24 10:21] ChelseaStats commented on #60
thanks very much :-)

[2017-02-24 10:25] pirate commented on #68
Git LFS replaces the file with a pointer, which makes diffing the contents much harder.  We want to keep diffs easy.  It's only 18mb bigger than the warning size, not worth upgrading to LFS yet.  I'd consider splitting it into alphabetical chunked files though.

[2017-02-24 10:25] #68 closed

[2017-02-24 10:30] pirate commented on #67
Yes I'm well aware these two are not the same.  Good luck checking the response headers of 4,000,000+ cloudflare sites though, it basically amounts to a DoS attempt.

We're working on a go script that checks to see if the A/CNAME's resolve to IP's in [cloudflare's range](https://www.cloudflare.com/ips/), that seems like the logical next step.
Unfortunately that data will become rapidly out of date

[2017-02-24 10:32] pirate commented on #67
Also keep in mind, not only SSL proxy customers are affected, all proxy customers had possible data leaked.

[2017-02-24 10:36] pirate commented on #67
Check out: http://doma.io/2017/02/24/list-of-affected-cloudbleed-domains.html for a list of confirmed affected domains.  I'll make a second txt file in this repo if we have a major breakthrough in discovering more confirmed domains, but otherwise this list is probably the best we've got right now.  I'd rather have an overly broad one than an overly narrow one.

[2017-02-24 10:47] 33b5e5 commented on #67
Proxy customers are probably a small subset of DNS customers.

Point taken on the difficulty of checking response headers. I also understand the issue of timeliness, but to me it still seems irresponsible to lump *all* Cloudflare customers into the same pile, suggesting they are all vulnerable.

People are linking to this list without enough context or experience to make these distinctions. I thin

[2017-02-24 10:49] franciscop commented on #37
Ouch, didn't see this issue and ended up doing one myself with the list from this repository. It's open source so you can actually switch it for any text dataset of your own. Will publish it when it gets deployed, which should be soon.

[2017-02-24 10:55] pirate commented on #67
I was assuming earlier that only devs are landing here, I guess that's not a good assumption to make anymore since the link has spread fairly far.
I agree that it's less than ideal to publish this full list to the public, maybe producing an easy website to search the this particular list may not be the best idea just yet (https://github.com/pirate/sites-using-cloudflare/issues/37).

The problem is

[2017-02-24 10:59] koitsu opened #71 "Add smartgunlaws.org to affected site list"
See NS records and/or WHOIS data for smartgunlaws.org, as well as below confirmation (look very very closely at the mangled data on the right):

http://webcache.googleusercontent.com/search?q=cache:lw4K9G2F1WgJ:lightnetwork.ph/ofw-family-day-december-1/+&cd=3&hl=en&ct=clnk&gl=us

[2017-02-24 11:01] pirate commented on #71
Ah jeez they're not even on HTTPS and they're accepting signup data... shame shame.

[2017-02-24 11:03] pirate commented on #71
They're already in the list.

[2017-02-24 11:03] #71 closed

[2017-02-24 11:08] franciscop commented on #37
Never mind, it uses 590MB of RAM and I'm not going to pay hundreds of dollars for a Heroku Professional Dyno, the code is in https://github.com/franciscop/cloudbleed

[2017-02-24 11:11] Zenexer opened #72 "Business and enterprise customers can use branded nameservers"
Business and enterprise can use branded nameservers.  The branded nameserver IP addresses will match those the standard nameservers, so they're easy enough to find.  Zone files typically include glue records for nameservers.  Here are the first 10 in the `com` zone file:

[code]

As such, using dig + grep is inadequate; many of Cloudflare's largest customers will go undetected.

[2017-02-24 11:17] jmlntw opened #73 "Please remove jmln.tw"
The site [jmln.tw](https://jmln.tw/) owned by me is only a static website and no user data on it. Thank you.

[2017-02-24 11:20] Zenexer commented on #72
Here are lists of com and net domain names that point to Cloudflare nameservers, taken from glue records in the latest zone files:

* [com.txt](https://github.com/pirate/sites-using-cloudflare/files/799108/com.txt)
* [net.txt](https://github.com/pirate/sites-using-cloudflare/files/799109/net.txt)

[2017-02-24 11:23] pirate commented on #73
Done.

[2017-02-24 11:23] #73 closed

[2017-02-24 11:26] pirate opened #76 "Going to bed, will continue updating tomorrow"
It's 6:25am, time to sleep.  Don't worry, I'll get to your PRs and issues tomorrow.

[2017-02-24 11:31] macdja38 commented on #49
@pirate As I said I have other services running on the domain that can't be proxied through cloudflare, for example a minecraft server (cloudflare can't proxy minecraft)
These sites below all show they were able to connect for the last couple months, many more can be found with similar stats and I have a couple hundred witnesses if you would like.
https://topg.org/server-pvpcraft-id394225
http://m

[2017-02-24 11:38] caleuanhopkins commented on #67
Regardless, there's plenty of plenty coming here who don't use Cloudflare for their sites but have accounts with sensitive data on sites listed here. It's useful to be aware of the extent of this leak.

[2017-02-24 12:09] Zenexer commented on #76
Thanks!  Same time here, but I'll be working on it a bit longer.

[2017-02-24 12:11] Zenexer commented on #72
Attached is a list of `com`/`net` domains that use branded `com`/`net` nameservers.  It's been run through `LC_ALL=C sort -u`, so each domain only appears once.

It goes without saying that this list is just based on nameservers, and is therefore still affected by #67.

[branded.txt](https://github.com/pirate/sites-using-cloudflare/files/799216/branded.txt)

[2017-02-24 12:15] Zenexer commented on #67
Headers can be spoofed.  The best way to verify without putting too much strain on Cloudflare would be to check the A/AAAA records against Cloudflare's advertised routes.  It's easy enough to do this for a small set of domains that we've created based on NS records; however, if we wanted to scan all known domains (and potentially public subdomains) to accommodate #42, it'd take a lot more work.

[2017-02-24 12:32] leeDav commented on #67
[DNS-only customers are not affected](http://disq.us/p/1ggtac4).

[2017-02-24 12:42] visualcookie opened #77 "Add: *.leagueoflegends.com"
Looks like `account.leagueoflegends.com` is also using CloudFlare.

Can't fully confirm, that they use it for everything else, but I just received a message checking for my browser (DDoS prevention system).

[2017-02-24 12:48] arunesh90 commented on #77
https://account.leagueoflegends.com/cdn-cgi/trace
Can confirm that it uses CloudFlare
Can also confirm that the root domain uses it
https://leagueoflegends.com/cdn-cgi/trace

[2017-02-24 12:49] Zenexer commented on #67
@leeDav You're half-right.  Yes, DNS-only customers aren't affected.  However, the information you gave after that is what enables a leak.  The catch is that leak isn't just for the directly affected site; it's also for other requests to other sites taking place around the same time.  If my site triggers the bug, even if your site doesn't, your users' data could appear on my site.

[2017-02-24 13:07] NickCraver commented on #21
We've still seen confusion over this - can  you please remove us from the list as we were in no way involved?

[2017-02-24 13:15] rickdmer commented on #37
Not exactly what was requested, but I created a Chrome extension that searches your bookmarks for sites that use Cloudflare: https://chrome.google.com/webstore/detail/cloudbleed-bookmark-check/egoobjhmbpflgogbgbihhdeibdfnedii

[2017-02-24 13:27] Felk opened #84 "Emphasize that Cookies are not safe"
If I understand the issue correctly, whole HTTP requests got leaked, including all headers. Those headers will also include `Cookie`.

I've seen people assume since they logged in into reddit for example via cookie for the past few months, they are safe. It's advisable to log out and log back in into websites using long-living cookies (just locally deleting cookies does not help obviously), and I

[2017-02-24 13:35] bpadair32 opened #85 "This is very unhelpful. This list is causing a great deal of confusion and stress. Cloudflare has notified all affected customers and they are dealing with it. Private SSL keys and passwords were not leaked."
**Please, do not create duplicate issues**

### DISCLAIMER:
This list contains *all* domains that use cloudflare DNS, not just the cloudflare SSL proxy (the affected service that leaked data).
It's a broad sweeping list that includes everything.  Just because a domain is on the list does not mean the site is compromised.
This list will be narrowed down to the affected domains as I get more informa

[2017-02-24 13:39] #85 closed

[2017-02-24 13:43] leeDav commented on #67
Ah, I see, apologies. My understanding was that only sites that use those services (Email obfuscation, HTTPS rewrites, Server-side excludes) could leak data **about each other**.

Thanks for clearing that up 👍

[2017-02-24 13:44] noahleigh commented on #84
@Felk noob here, why wouldn't deleting local cookies help?

[2017-02-24 13:46] Felk commented on #84
@noahleigh because that doesn't invalidate the cookies. people with access to the cookies can still use them to authenticate. Instead of manually logging out, you can also delete your cookies locally, but then have to log back in into every site for them to stop accepting the old cookie. It has the same effect, but just deleting your cookies locally doesn't help per se

[2017-02-24 13:46] jasondinh opened #87 "Need further verification that sites are truly unaffected"
I'm referring to this statement by Namecheap: https://status.namecheap.com/archives/30660

Not sure if I'm reading this wrong, but it sounds like Namecheap did use Cloudflare as reverse proxy and therefore could be potentially affected. IMO, we need a clear message like [Fastmail](https://news.ycombinator.com/item?id=13720050) before we can conclude a site is unaffected.

[2017-02-24 14:20] caleuanhopkins commented on #87
Agreed but I will say Cloudflare are contacting those affected one-to-one and mass emailing those they have flagged as being unaffected. Namecheap may be working with Cloudflare and have realised that they weren't leaking data

[2017-02-24 14:28] caleuanhopkins commented on #84
@noahleigh @Felk my understanding is that site owners need to replace their salts so the cookie encryption is new and old cookies are rejected. correct me if I'm wrong on this though

[2017-02-24 14:35] OsirisWsjr commented on #84
All you have to do is restart your web server to expire any existing sessions if you're a little guy without the IT team to take care of it for you.

[2017-02-24 14:41] Gunstick commented on #67
There are 161 websites affected. Not thousands. Please close this useless project.

[2017-02-24 14:42] kulttuuri commented on #67
Cloudflare's latest email mentions "In our review of these third party caches, we discovered exposed data on approximately 150 of Cloudflare's customers across our Free, Pro, Business, and Enterprise plans. We have reached out to these customers directly to provide them with a copy of the data that was exposed, help them understand its impact, and help them mitigate that impact."

[2017-02-24 14:54] caleuanhopkins commented on #84
@OsirisWsjr well you could, technically, but best to re-do salts. For example, if you're running Wordpress: https://www.wordfence.com/blog/2017/02/cloudflare-data-leak/ there's even an online salt generator here:  https://api.wordpress.org/secret-key/1.1/salt/

[2017-02-24 15:12] abalabahaha commented on #37
Made a very barebones list checker on my site for now, will improve on it when I get the time

[2017-02-24 15:16] mmiller7 commented on #87
Seems like you could refine this a bit by scraping headers for sites on this list and ruling them out.

`curl -s -D - SomeHostHere.com -o /dev/null >&1 | grep Server`

Example:
`
$ curl -s -D - authy.com -o /dev/null >&1 | grep Server
Server: cloudflare-nginx
$ curl -s -D - fitbit.com -o /dev/null >&1 | grep Server
Server: AmazonS3
`

I'd make an educated guess the ones that return cloudflare-ngin

[2017-02-24 15:17] nickhilliard opened #94 "duplicate entries"
[code]

this should return zero.

[2017-02-24 15:21] caleuanhopkins commented on #87
@mmiller7 it's a good suggestion, but I have domains which come back with `Server: cloudflare-nginx` and I've been informed that my domains were not leaking secure information. So it's good for those who are yet to hear, but doesn't mean all domains that return with `Server: cloudflare-nginx` have leaked. Also, are you suggestion the code as a rule of thumb as if you should look to roll new API's

[2017-02-24 15:24] Teevio opened #95 "CloudFlare Site Owner Emails"
Our site simplecast.com/fm is on the list of affected sites, but I'm wondering about the legitimacy of the email that CloudFlare sent to customers saying that their site wasn't affected?  We received the email from them saying we were not affected, but it would appear from everything that I've read that this isn't true? Can anyone clarify this for me?

[2017-02-24 15:25] mmiller7 commented on #87
@caleuanhopkins
So far that's about the only thing I've come up with to make any educated guess for sites that haven't released any information.  Certainly it's not the be-all end-all lacking any other information at this point it may help to get some degree of confidence one way or another.

If there's some alternative to get a better measure for any sites that have not made any statements I'd lo

[2017-02-24 15:26] caleuanhopkins opened #96 "Removing domains"
So how do we have domains removed which have been confirmed by Cloudflare that they have not been effected by the Cloudbleed bug? I understand the need for some verification but I have been told by Cloudflare that my sites were unaffected and they do return `server:cloudflare-nginx`. Either we need a better confirmation process for removal or if the domains are not safe, should Cloudflare be infor

[2017-02-24 15:27] simonkberg commented on #67
Cloudflare has contacted customers who they *know* have had their data *saved by third party caches*, this does not mean that other sites are unaffected. Travis Ormandy who uncovered and reported this bug even [stated that](https://bugs.chromium.org/p/project-zero/issues/detail?id=1139#c19) Cludflare "severely downplays the risk to customers".

Multiple instances of leaked data has been uncovered

[2017-02-24 15:29] caleuanhopkins commented on #87
@mmiller7 Based upon my scenario, I probably can't submit anything better. I'm trusting the information from Cloudflare about my domains being unaffected is correct. I think your suggestion is good for those waiting to hear from Cloudflare as it at least gets the owners thinking about a plan of action in case their site has been affected.

[2017-02-24 15:30] caleuanhopkins commented on #95
@Teevio going to try and setup a thread to verify this, see #96

[2017-02-24 15:32] cryptk commented on #96
Considering that in many cases it is pretty easy to externally validate that a site is not using the CF proxy service, I would like to see the list of "possibly affected domains" culled down a bit.

[2017-02-24 15:36] cryptk commented on #96
And while it is correct that just because you don't use the SSL proxy service, that does not mean that you aren't affected... if you are a DNS only user (so no SSL proxy, and no caching) then you are indeed not affected (because your sites data never crossed the CF network, only DNS requests).

It is easy to determine if a site is using the CF caching service or not, so it would be prudent to remo

[2017-02-24 15:37] Xaekai commented on #96
This has already been discussed repeatedly. Did you even read the other open issues?

[2017-02-24 15:38] nevinera commented on #94
Yeah, he documented that he used `| uniq | sort`, which I thought was a typo. A similar (simpler) comparison:

[code]

[2017-02-24 15:41] coderobe commented on #95
The "your site was not affected" mails seem to be a sort of damage control for CF. I think they sent this to every customer they didn't find cached, leaked info from. If that's true, it's entirely possible for your data to still have leaked, possibly even via completely unrelated sites because of cf proxy node sharing.

[2017-02-24 15:49] coderobe commented on #94
I have opened a PR with a fixed version, see https://github.com/pirate/sites-using-cloudflare/pull/99

[2017-02-24 15:52] Xaekai commented on #42
I wrote my own Node.js shellscript and will begin testing all the domains that start with `8` as a preliminary run, since there is only 11599 of them.

[2017-02-24 16:02] basisbit commented on #95
I can confirm this. The "your site was not affected" seems to be only related to data for example in Google Cache, but not regarding all the others who stored such data.

[2017-02-24 16:03] nickhilliard opened #100 "Add *.sageone.com"
to add to list:

accounts-extra.sageone.com
app.sageone.com
eu-signon[1-6].sso.services.sage.com
signon[1-6].sso.services.sage.com

[2017-02-24 16:21] rahulunair opened #103 "Reddit not present"
Doesn't reddit use cloud flare?, or have they confirmed that they are not affected, as I do not see reddit here, if not added, kindly add : https://reddit.com to the list as well.

[2017-02-24 16:25] Xaekai commented on #103
Reddits leads ops engineer has already clarified the issue via https://github.com/pirate/sites-using-cloudflare/pull/48

[2017-02-24 16:30] rahulunair commented on #103
Thanks for the confirmation Xaekai, closing the issue.

[2017-02-24 16:30] #103 closed

[2017-02-24 16:44] Felk commented on #84
Well Reddit hasn't logged me out yet, so I wouldn't trust the webmasters to take care of this

[2017-02-24 17:25] whig0 opened #110 "Add: bitcoin.de"
Please add Bitcoin.de - German Bitcoin Marketplace

[2017-02-24 17:48] joshsleeper opened #113 "[Suggestion] Move discordapp.com and humblebundle.com to Notable Sites"
Both sites have a huge amount of unique user accounts (Discord has insane user growth in recent months), and humblebundle.com users are likely to have saved payment methods which means a rogue login may be able to make purchases.

[2017-02-24 18:18] sxlijin commented on #13
This change should be reverted: https://twitter.com/taviso/status/834935095639232513

[2017-02-24 18:34] pirate commented on #76
@Zenexer thanks for the dedication!

[2017-02-24 18:34] #76 closed

[2017-02-24 18:35] pirate commented on #113
Sure, submit a PR.

[2017-02-24 18:35] #113 closed

[2017-02-24 18:35] #95 closed

[2017-02-24 18:37] pirate commented on #94
Thanks @coderobe, will merge that shortly and fix the README methodology.

[2017-02-24 18:37] #94 closed

[2017-02-24 18:50] pirate commented on #87
As it stands we're not trusting cloudflare's "you were not affected" emails, since it appears their only data is based on whether search engines cached leaked info or not.  It's entirely possible that HTTP(s) proxy customers had data leaked that did not end up in search engine caches.

[2017-02-24 18:52] #96 closed

[2017-02-24 18:52] pirate commented on #96
See: https://github.com/pirate/sites-using-cloudflare/issues/67 for progress on narrowing down the non-caching customers.

[2017-02-24 18:53] pirate commented on #84
@Felk reddit is not affected, they were on Fastly during the affected period.

[2017-02-24 18:55] pirate commented on #84
I don't think this is safe advice "It's advisable to log out and log back in into websites using long-living cookies", logging out doesn't invalidate all your active sessions, and you may have others that could have leaked.  Closing this for now, if you want submit a PR to add to the "What should I do?" section of the README, I'd be happy to review it.

[2017-02-24 18:55] #84 closed

[2017-02-24 19:01] cloudsriseup opened #118 "Please add securesql.info"
Add https://securesql.info

[2017-02-24 19:02] BhawaniGarg commented on #37
Here is a little tool from which you can search: https://talepicker.com/cloudbleed/

[2017-02-24 19:05] nuvious opened #119 "Facebook App possible attack vector."
So not sure if this were a coincidence or otherwise, but the forbes app added itself to my facebook and tried posting things to my page, which resulted in Facebook locking my account down. My actual login for Facebook was not compromised though and Facebook just flagged the Forbes app as a malicious app, so I removed it. Forbes itself isn't on the list but Forbes.ru is. Thought I'd mention that in

[2017-02-24 19:18] coderobe commented on #119
Facebook uses akamai (afaik), not cloudflare, so this issue can't possibly affect facebook directly.

[2017-02-24 19:21] #119 closed

[2017-02-24 19:21] pirate commented on #119
Apps that had facebook auth tokens and are compromised may have leaked facebook auth tokens.

[2017-02-24 19:22] coderobe commented on #64
Cloudflare will put your site in the alt. names of their shared certificates, even if you don't use any CF services other than DNS. This is not a good way to check domains.

[2017-02-24 19:26] franciscop commented on #37
BTW if anyone wants http://cloudbleed.site/ I'll point the DNS to their project or transfer it

[2017-02-24 19:28] NexusByte opened #123 "Add: www.gommehd.net"
www.gommehd.net also uses cloudflare

[2017-02-24 19:29] youngj commented on #87
Could someone provide a copy/link to a "you were not affected" notification from CloudFlare? Various companies are using this notification as confirmation that they were not affected (e.g: https://twitter.com/23andMe/status/835206141818765312, https://support.betterment.com/customer/portal/articles/2752560-was-my-information-affected-by-the-cloudflare-vulnerability-). I wonder if the notification

[2017-02-24 19:32] coderobe commented on #123
I just checked and they don't seem to be using the affected services.

[2017-02-24 19:32] abalabahaha commented on #87
Someone on Hacker News posted a pastebin

http://pastebin.com/pUnKJE3J

[2017-02-24 19:32] thislooksfun commented on #37
I'm starting work now on a simple search. Progress will be over at https://github.com/thislooksfun/cloudbleed-search , contributions are welcome.

[2017-02-24 19:33] coderobe commented on #28
Here's the PR btw https://github.com/pirate/sites-using-cloudflare/pull/117

[2017-02-24 19:34] DarthFutuza opened #124 "Remove: jkhub.org (DNS only)"
jkhub.org was not affected, I've worked with the owner of the site and they confirmed they didn't use cloudflare's proxy service.  They will probably email you to have it removed.  However, I've also confirmed they aren't returning server:cloudflare-nginx in the header.

[2017-02-24 19:36] youngj commented on #87
Thanks. So yeah -- it seems like all of these companies are just saying that they were not affected because CloudFlare couldn't find any of their data in public search engine caches. They actually have no idea if their data was leaked or not.

[2017-02-24 19:38] jeiannueva opened #126 "Add: www.globe.com.ph"

[2017-02-24 19:39] NexusByte commented on #123
Ping says that they are using cloudflare: http://i.imgur.com/UBJ8d1w.png

[2017-02-24 19:42] coderobe commented on #123
Huh, that's weird. Only the www. prefix is routed through CF, the @ record is not routing through them, although it redirects you to the www prefix occasionally.

[2017-02-24 19:42] turtledude01 opened #127 "What specific features were affected?"
If I use FULL ssl encryption from end to end is it possible that my websites 'were' affected? I have read in many places that it is only the Flexible SSL that was affected, is this true?

[2017-02-24 19:43] coderobe commented on #127
Anything that routes through Cloudflare could have possibly leaked data via third partys that caused the leak to occur.

[2017-02-24 19:44] turtledude01 commented on #127
Id love to see proof of this because nothing I have found officially states this.

[2017-02-24 19:48] NexusByte commented on #123
I'll edit it to www.gommehd.net

[2017-02-24 19:52] coderobe commented on #127
[Here's the official blog post, the quote can be found near the end of the post.](https://blog.cloudflare.com/incident-report-on-memory-leak-caused-by-cloudflare-parser-bug/)

[2017-02-24 19:55] turtledude01 commented on #127
Ive already read that one, doesn't prove anything

[2017-02-24 19:56] coderobe commented on #127
The whole blog post goes into detail explaining why, and what exactly happened. It's been published by Cloudflare themselves. Personally i'd say this is proof enough

[2017-02-24 19:57] pirate commented on #13
https://twitter.com/1Password/status/835152048341532672

[2017-02-24 19:58] turtledude01 commented on #127
Now show me proof that every site listed in this repo was affected.

[2017-02-24 19:59] pirate commented on #124
Perfect, once I get an email from @jkhub.org to confirm I'll remove it.  (it's just for a paper trail in case your users dispute it)

[2017-02-24 19:59] coderobe commented on #127
The key words are `could have` and `possibly`

[2017-02-24 20:03] koitsu opened #130 "Add vultr.com to list"
As a Vultr (VPS provider) customer, I just received the below Email.  The main vultr.com domain does not appear to utilise NS records that point to CF, nor does Vultr disclose what FQDNs/hosts they have which do utilise CF.  I did manually find one -- https://my.vultr.com . And for posterity, http://my.vultr.com (non-SSL) redirects to the SSL version.

As such, I feel vultr.com should be added to

[2017-02-24 20:08] #127 closed

[2017-02-24 20:09] pirate commented on #127
Even sites cloudflare has manually emailed saying they're not affected are not "proven" to be unaffected: https://github.com/pirate/sites-using-cloudflare/issues/87#issuecomment-282372235

[2017-02-24 20:10] pirate commented on #21
@NickCraver done: 4f0f433

[2017-02-24 20:18] pirate opened #132 "I need maintainers to help, this is too much work"
If you or a company you work for are willing to help officially maintain this list, please comment here.

It's getting to be too much work for me to personally confirm every site by hand, and I don't want to rush the job.

 - if you run a password manager, you can help curate a list of sites you users need to reset passwords on
 - if you run a security consultancy, you can alert your users that th

[2017-02-24 20:18] ddymko commented on #130
:+1:

[2017-02-24 20:20] pathmissing commented on #37
I too made a little tool: https://cloudbleed.ak5s.com/

[2017-02-24 20:28] ddymko commented on #132
I am willing to help out the best I can....

[2017-02-24 20:31] fletom opened #134 "namecheap should not be listed as unaffected"
they admit in their [blog post](https://status.namecheap.com/archives/30660) that they were using the Cloudflare proxy, but say "We also have initial confirmation from CloudFlare that we have not been affected."

this is impossible. they are either lying or mistaken.

[2017-02-24 20:31] Zenexer commented on #67
Based on the data I've been able to gather--which I admit is incomplete--I find it extremely unlikely that only 150 websites were impacted.  Extrapolating the data suggests that any Cloudflare-proxied website receiving decent traffic almost certainly had data leaked. The most common sensitive user data I saw was session cookies and the likes.

The most reasonable course of action for affected site

[2017-02-24 20:38] tkachenko opened #136 "Create small service based on your data"
Hi, i create small service based on your data - for quick check site on list or not

https://cloudflareleaks.webtls.com/

[2017-02-24 20:40] pirate commented on #132
Paging: @Zenexer @abalabahaha @coderobe @wolever @franciscop @pathmissing @thislooksfun @Xaekai @youngj @ymschaap @ddymko
I'm willing to make you guys contributors if you're interested, we can agree on some basic criteria needed for removing domains from the list, and close out a lot of these PRs.  I'm also looking to get [security companies involved](https://twitter.com/thesquashSH/status/8352225

[2017-02-24 20:41] coderobe commented on #132
Sure, count me in if you want.

[2017-02-24 20:43] pirate commented on #136
Read the other issues first please :)
https://github.com/pirate/sites-using-cloudflare/issues/37

[2017-02-24 20:43] #136 closed

[2017-02-24 20:44] ddymko commented on #132
count me in as well!

[2017-02-24 20:45] abalabahaha commented on #132
@pirate sure thing. Do you have a preferred platform we can communicate on?

[2017-02-24 20:47] pirate commented on #132
@abalabahaha irc.freenode.net #sites-using-cloudflare

[2017-02-24 20:47] Xaekai commented on #132
I have already ran the script I wrote for domains starting with `0` and `8`

[2017-02-24 20:47] ddymko commented on #132
@pirate also is there a specific email address where they can send verification?

[2017-02-24 20:48] youngj commented on #132
count me in too

[2017-02-24 20:48] pirate commented on #132
@ddymko verifydomain@sweeting.me

[2017-02-24 20:48] tkachenko commented on #136
Sorry..  =(

[2017-02-24 20:54] Zenexer commented on #132
https://keybase.io/zenexer

I'll be on IRC when I get home. Among other things, I may be able to provide some resources, such as hosting and zone files.

[2017-02-24 20:56] youngj commented on #134
Agreed

[2017-02-24 21:01] fletom commented on #134
found a copy of the email they're sending around

![](https://pbs.twimg.com/media/C5cqwQtU4AIEsJk.jpg:large)

Namecheap most likely received this. to the untrained eye, it's telling them they aren't affected. but that's just Cloudflare being tricky and utterly disingenuous. the fact that they couldn't find a domain leak in a third party cache absolutely does not mean it wasn't affected.

[2017-02-24 21:15] pirate commented on #132
FYI the policy is now to allow sites that used the proxy with user data to add blog posts regarding cloudflare to the README:

- adafruit.com \[no evidence of data leaked](https://example.com/blog/post-about-cloudflare-leak)

We don't want to remove them from the list because they did use the proxy, but we're letting them indicate that they have addressed the issue in an official announcement.

[2017-02-24 21:15] youngj commented on #134
Reworded "not affected" to "no evidence of compromised data".

[2017-02-24 21:15] #134 closed

[2017-02-24 21:24] youngj commented on #130
Done - 279977cc71fbf76cb9bbf6ca93aeb3b3378161f9

[2017-02-24 21:24] #130 closed

[2017-02-24 21:34] Omeryl commented on #67
I agree, list is very naive.

[2017-02-24 21:36] roguedarkjedi opened #139 "Glassdoor"
Their login popup returns cloudflare headers, I haven't been able to confirm on login as the oauth handshake doesn't go through.

They claim that Cloudflare has told them they weren't affected.

https://twitter.com/Glassdoor/status/835238343822589952

[2017-02-24 21:42] youngj commented on #139
Added in e920103e6b330f78b994adba1e908dfe83193a6b . Thanks!

[2017-02-24 21:42] #139 closed

[2017-02-24 21:42] coderobe commented on #139
They are likely affected, yeah.

[2017-02-24 21:46] pathmissing commented on #132
You can count me in

[2017-02-24 22:12] Zenexer opened #141 "Domains extracted from com/net zone files"
Just dropping these here fore now so I don't lose them.

Here are the exhaustive lists I've made from zone files of com/net domains with Cloudflare nameservers or branded com/net nameservers.

* [com.txt](https://github.com/pirate/sites-using-cloudflare/files/800574/com.txt)
* [net.txt](https://github.com/pirate/sites-using-cloudflare/files/800575/net.txt)
* [branded.txt](https://github.com/pirate

[2017-02-24 22:12] tonyztan commented on #132
@pirate Glad to help. Count me in. https://keybase.io/tonytan

[2017-02-24 22:15] coderobe commented on #141
Adding new sites now that everything has been fixed would introduce a lot of false positives.

[2017-02-24 22:21] Zenexer commented on #141
@coderobe This is for reference only.

[2017-02-24 22:25] pathmissing commented on #37
As already discussed in the IRC, I propose to use @abalabahaha's site and link it in the readme so it is easy to find for everyone.

[2017-02-24 22:27] pirate commented on #77
done

[2017-02-24 22:27] #77 closed

[2017-02-24 22:27] pirate commented on #100
done

[2017-02-24 22:27] #100 closed

[2017-02-24 22:27] pirate commented on #110
done

[2017-02-24 22:27] #110 closed

[2017-02-24 22:27] pirate commented on #118
done

[2017-02-24 22:27] #118 closed

[2017-02-24 22:27] pirate commented on #123
done

[2017-02-24 22:27] #123 closed

[2017-02-24 22:30] Phineas commented on #132
I'll help out @pirate

[2017-02-24 22:32] Zenexer commented on #132
@tonyztan FYI, your DNS and HTTPS Keybase proofs for tonytan98.com are failing.

[2017-02-24 22:33] pirate commented on #126
Done.

[2017-02-24 22:33] #126 closed

[2017-02-24 22:42] Apqu opened #143 "Remove: diversivi.com (DNS only)"
This site can be removed only DNS was pointing there is no website attached so no potential leakage.

[2017-02-24 22:49] Phineas commented on #143
Looks like on [here](https://www.robtex.com/dns-lookup/diversivi.com) that this domain used to point to CloudFlare?

(even though it doesn't currently point anywhere, we can't prove that it never pointed to CloudFlare during the exploit)
![notusing](https://phineas.io/screenshots/4ykyq.png)

[2017-02-24 22:50] tkachenko commented on #132
Small PHP script to left just domains thats use CloudFlare proxy
But not very optimal way.. =(

`<?php

$i = 0;
$file = 'sorted_unique_cf.txt';
$f = fopen($file, 'r');

$ipcache = [];

while (false !== ($line = fgets($f))) {
   // echo $line;
    $i++;
    $ip = gethostbyname(trim($line));

    if($ip){
        if(!isset($ipcache[$ip])){
            $w = exec('whois '.$ip.' | grep noc@cloudflare.c

[2017-02-24 22:54] Apqu commented on #143
Hi Phineas, I manage the DNS for this domain and it hasn't had a website up for well over a year now, purely used for email dns if that helps?

[2017-02-24 22:55] coderobe commented on #143
Can you prove ownership? @Apqu

[2017-02-24 22:56] Apqu commented on #143
By all means I could email you?

[2017-02-24 22:57] calnation commented on #132
@pirate and others participating, the list is now also linked to under External links on [Cloudbleed Wikipedia page](https://en.wikipedia.org/wiki/Cloudbleed). Keep up the good work. :thumbsup:

[2017-02-24 23:04] pirate commented on #132
@calnation I'm assuming you're calexit on Wikipedia? If so, thanks for helping write the wiki!

[2017-02-24 23:04] coderobe commented on #143
Yeah, you can shoot me a mail from that domain to spam@rob1nn.pw if you want. @Apqu

[2017-02-24 23:12] thislooksfun commented on #37
Mine is coming along well. Will post initial version soon.

Related question: would it be possible to maintain some way to see which have been confirmed affected/unaffected? (like an `[affected]` / `[unaffected]` tag after the url in the list for example?

[2017-02-24 23:26] #64 closed

[2017-02-24 23:36] pathmissing commented on #87
The procedure of removing has been defined in [#132 (comment)](https://github.com/pirate/sites-using-cloudflare/issues/132#issuecomment-282398812). Therefore, this issue can be closed.

[2017-02-24 23:37] #87 closed

[2017-02-24 23:55] tycoonlover1359 commented on #132
I'm not mentioned here, but if needed, I can still be assisting you guys in helping to get people to provide necessary information to confirm their sites aren't affected, thus can be removed. Would you like this or would you like me to stop and sorta get out of the way? I don't mind either option, whatever you guys decide is fine by me.

[2017-02-25 00:03] Empty2k12 commented on #37
I have created a simple Python webserver that uses a Redis cache for high speed domain lookups. Might be useful for anyone needing to check a ton of domains: https://github.com/Empty2k12/CloudBleedInfoServer

[2017-02-25 00:27] fkautz opened #149 "Add nytimes.com to this list"
[code]

[2017-02-25 00:36] pirate commented on #132
@tycoonlover1359 thanks for the help so far! I think we have enough committers at the moment, I'll ping you if that changes.

[2017-02-25 00:37] #132 closed

[2017-02-25 00:40] thislooksfun commented on #37
Ok, first draft of my search is live: https://thislooksfun.github.io/cloudbleed-search/
It's fully browser based at the moment, so it is slow. If anyone wants to put work together to make a faster filter or move filtering to the backend, let me know in a [new issue](https://github.com/thislooksfun/cloudbleed-search/issues)

[2017-02-25 00:41] Phineas commented on #149
Added -> bd37c2708f29e4f9e05a8ed72da734e153d0b9b8 Thanks!

[2017-02-25 00:41] #149 closed

[2017-02-25 00:42] Zenexer commented on #37
@thislooksfun Returning 404 for https://thislooksfun.github.io/cloudbleed-search/sorted_unique_cf.txt

[2017-02-25 00:42] thislooksfun commented on #37
Aw crap, one sec...

[2017-02-25 00:54] Zenexer commented on #124
It's worth noting that darkempireofthesith.com appears to CF proxy to de.jkhub.org, and both appear in Google.  There may be other groups/subdomains on jkhub.org that primarily use the CF proxy, as well.

[2017-02-25 00:55] Zenexer commented on #143
Confirming this doesn't appear to have been using CF proxy recently.

[2017-02-25 01:07] DarthFutuza commented on #124
@Zenexer I didn't mention it specifically here, but there are other domains yes, none of them actually used cloudflare's proxy service.

[2017-02-25 01:11] Zenexer commented on #124
@DarthFutuza The issue is that darkempireofsith.com does use Cloudflare's proxy service:

[code]

This is the same as de.jkhub.org, and appears to be the same website/server.  If credentials or any other information is shared between the two, then this carries over to jkhub.org (as well as all the other sites sharing those credentials), and it shouldn't be removed from the list.

[2017-02-25 01:18] Zenexer opened #153 "Change "not affected"/"no evidence of compromised data"; clarify meaning"
This note that we've added in parentheses next to some domains is inaccurate.  Even where it says "no evidence of compromised data", it's quite misleading.  We should change these to say something along the lines of "public statement" or "doesn't appear in Google cache".

[2017-02-25 01:19] pirate commented on #153
Yeah I like "doesn't appear in search engine caches".  We should edit them manually, some sites actually have no compromised data, such as 1password.

[2017-02-25 01:21] Zenexer commented on #153
From what was said on IRC, I don't think "doesn't appear in search engine caches" would be wise/accurate, either.  Cloudflare's messages to customers have only mentioned Google, and allegedly other caching/archiving services have retained information that Google never had (which makes sense).

[2017-02-25 01:23] pirate commented on #153
AFAIK from twitter posts they were working with bing, yahoo, and duckduckgo as well, but not 100% that they're all cleared at once.

[2017-02-25 01:25] Zenexer commented on #153
Then "several major search engines" might be appropriate, but there's still a difference between clearing caches and querying for leaked data.  We also haven't heard anything about Baidu or Yandex.

[2017-02-25 01:33] coderobe commented on #143
How did you confirm this? @Zenexer

[2017-02-25 01:50] Zenexer commented on #143
@coderobe Actually, getting different info now on the same searches.  Looks like it was using CF proxy, actually.

1. https://www.google.com/search?q="diversivi.com"+"ns.cloudflare.com"
2. [Cache: robtex](https://webcache.googleusercontent.com/search?q=cache:TFu13Wd2beIJ:https://www.robtex.com/dns-lookup/diversivi.com+&cd=2&hl=en&ct=clnk&gl=us) - Jan 18, 2017
3. [Live: robtex](https://www.robtex.c

[2017-02-25 02:39] Zenexer commented on #153
Any objections to this?

[2017-02-25 02:45] ddymko commented on #153
I missed this thread @Zenexer - I will update the digital ocean pr to reflect the the more appropriate message

[2017-02-25 03:42] dacodingguy opened #156 "Quizlet"
Was quizlet.com affected? I know it uses cloudflare, but I didn't see it on the list. Was it compromised?

[2017-02-25 03:43] #156 closed

[2017-02-25 03:44] Zenexer opened #157 "Domains in list that might never have used Cloudflare"
8053a438 introduced at least one domain, zoho.com, that might not have any ties to Cloudflare (#83).  This commit should be reviewed.

@pirate Do you happen to remember how those domains were found?

cc @deepsk79

[2017-02-25 03:44] #153 closed

[2017-02-25 03:46] pirate commented on #157
These were copied from reports found in the original HN thread.

[2017-02-25 03:47] Zenexer commented on #156
It probably didn't make the original list because it uses branded nameservers.  It should be in the [branded list](https://github.com/pirate/sites-using-cloudflare/issues/141) that we're working on accommodating.  Assuming they haven't just started using Cloudflare in the past few days, then yes, they were affected.

[2017-02-25 03:49] Zenexer commented on #157
Ah, figures.  I suppose we'll have to check many of those manually.

[2017-02-25 03:49] pirate commented on #157
e.g. https://news.ycombinator.com/item?id=13720208

Yeah, some manual checking is a good idea.

[2017-02-25 04:05] Zenexer commented on #157
Domains in 8053a43 using the CF proxy:

- [ ] ~~stackoverflow.com~~ - [uses Fastly, not CF](https://www.robtex.com/dns-lookup/stackoverflow.com)
- [ ] ~~fitbit.com~~ - [lots of AWS, no CF](https://www.robtex.com/dns-lookup/fitbit.com)
- [x] discord.com
- [x] change.org
- [x] feedly.com
- [ ] ~~zoho.com~~ - [no sign of CF](https://www.robtex.com/dns-lookup/zoho.com)
- [x] patreon.com
- [x] producth

[2017-02-25 04:05] Zenexer commented on #157
StackOverflow was already removed per #21 and zoho.com per #83.  That just leaves fitbit.com.

I'm going to leave this issue open, as we should review related commits.

[2017-02-25 04:34] tonyztan commented on #124
@Zenexer How are you verifying that emails are not being spoofed? Are you checking the sender IP?

[2017-02-25 04:35] tonyztan commented on #143
@coderobe How are you verifying that emails are not being spoofed? Are you checking the sender IP?

[2017-02-25 04:37] pirate commented on #157
@Zenexer I believe Fitbit data appeared in several search engine caches, I'm not what domain it was from though, probably a subdomain other than fitbit.com

[2017-02-25 04:38] pirate commented on #124
@tonyztan we've been checking for DKIM signing by the origin domain, which should be sufficient to confirm ownership if their email is set up properly.

[2017-02-25 04:38] abalabahaha commented on #157
See #158, both www.fitbit.com and api.fitbit.com are under CF, just not fitbit.com

[2017-02-25 04:39] pirate commented on #157
Let's add back those domains then @Zenexer.

[2017-02-25 04:40] Zenexer commented on #157
@pirate That merge was closed.  The other two have both confirmed they weren't using Cloudflare at the time.

[2017-02-25 04:46] pirate commented on #157
@Zenexer sorry I don't follow, which other two domains? zoho & SO, or fitbit domains?

[2017-02-25 04:52] Zenexer commented on #157
@pirate

* [Pull request to remove fitbit.com](https://github.com/pirate/sites-using-cloudflare/pull/158) - made by me, erroneous, closed
* [Pull request to remove zoho.com](https://github.com/pirate/sites-using-cloudflare/pull/83) - made by Zoho, verified identity via Twitter, merged
* [Issue to remove stackoverflow.com](https://github.com/pirate/sites-using-cloudflare/issues/21) - made by Stack

[2017-02-25 05:49] deepsk79 commented on #157
Will it removed from the master list

[2017-02-25 06:25] Apqu commented on #143
Hi guys, sorry different time zone so just woke up. As I have said the domain uses CF solely for dns lookup for the MX records as this domain was for an old site that I am leaving to expire. I am more than happy to send over an email etc but tbh it really doesn't matter if you leave it here or not was just trying to help keep the list concise. If you would prefer I close the issue as you apparentl

[2017-02-25 07:02] rcombs opened #163 "Remove a few domains"
None of these sites receive user information:
- rcombs.me
- analblaze.com
- splatoon.ink
- sakuga.moe
- plex.moe

And these are all static and also some degree of NSFW:
- shiningfingered.moe
- shining-fingered.moe
- ass.moe
- rule34.moe

[2017-02-25 07:06] rcombs opened #164 "Note that Cloudflare itself was affected"
This hasn't been made clear in their blog, but I asked an employee in #cloudflare on Freenode, who confirmed that CF API tokens and passwords also may have been affected:
[code]
This seems worth noting in the "Notable Sites" section.

[2017-02-25 07:28] pirate commented on #163
These domains all have logins & signups:

- plex.moe
- sakugabooru.com
- gelbooru.com
- rule34.moe

[2017-02-25 07:28] #143 closed

[2017-02-25 07:30] rcombs commented on #163
- plex.moe is just a redirect
- sakuga.moe is just a redirect
- ass.moe is just a redirect
- rule34.moe is… oh, that actually routes, sorry, guess that one's fine.

[2017-02-25 07:52] haxhxm commented on #37
I can help set up a website on a webserver

[2017-02-25 10:06] caleuanhopkins commented on #67
So next question is if we do this, how do we prove this for our domains to be removed from the list? I assume that's the overall goal of this project is to inform owners their site could be affected, for the owners to take action and then "secured" sites are removed from the list?

[2017-02-25 10:09] Phineas commented on #67
@caleuanhopkins They still might've been affected during the breach, so I think we'll be keeping them on the list until we can prove that domains are 100% secure. But for now, I guess we could do something like adding tags next to now secured domains.

[2017-02-25 10:12] MiningPickaxe commented on #37
Whoops, just woke up to see, that a lot of people already did those websites xD
I also created a webpage. It is based on a Node.js server and updates the database every 30min. For faster access times, I cached the whole file. http://pickarsch.xyz

[2017-02-25 10:14] caleuanhopkins commented on #67
@Phineas as someone with several domains in the list, tagging "clean" domains would be appreciated as this domain is the number 1 trending repo in the daily view of popular repos on Github (https://github.com/trending) so this list is getting quite a bit of exposure. In turn, this is highlighting a large number of domains as targets for possible exploit. Happy to do whatever is advised to achieve

[2017-02-25 11:05] pathmissing commented on #164
Merged in #165

[2017-02-25 11:05] #164 closed

[2017-02-25 11:12] VosAndHowden commented on #163
1Password, while they use Cloudflare, is not vulnerable and probably shouldn't be on this list.

https://blog.agilebits.com/2017/02/23/three-layers-of-encryption-keeps-you-safe-when-ssltls-fails/

[2017-02-25 11:17] nikitasius commented on #163
Domains are affected only in case if all data was proxied via Cloudflare. In case if you proxy static AND/OR don't proxy auth forms AND do not use ".example.com" cookies - you not affected.

[2017-02-25 11:20] dchaplinsky opened #166 "Turn urls into links, so user can quickly see which one from the list he were visiting"
**Please, do not create duplicate issues**

### DISCLAIMER:
This list contains *all* domains that use CloudFlare DNS, not just the CloudFlare SSL proxy (the affected service that leaked data).
It's a broad sweeping list that includes everything.  Just because a domain is on the list does not mean the site is compromised.
This list will be narrowed down to the affected domains as we get more inform

[2017-02-25 11:24] pathmissing commented on #163
@VosAndHowden We are keeping track of sites which might potentially have been affected by CloudBleed, not wether their security may or may not have prevented the leak of data. In the case of 1Password, we added a link to a discussion with more information.

[2017-02-25 11:36] nikitasius commented on #166
Sound nice. But if domain use Cloudflare DNS it **doesn't mean** what domain was affected.

I will explain:
there is non-proxified domain **example.com** - what provide access to backend and there is **static.example.com** what proxified via Cloudflare.

Domain **example.com** use cookies with `example.com`, not with `.example.com` (dot-example-dot-com).

In such case we have a domain example.com

[2017-02-25 12:40] Phineas commented on #166
@nikitasius I think the issue poster means turning the URLs in the README, etc to http url redirects

[2017-02-25 13:09] lodicolo commented on #67
Several of you commented on different ways to check if a domain uses the CloudFlare proxy, but to my understanding of a site was using the CloudFlare proxy at any point during the timeframe of the vulnerability would result in potential leakage, correct?

If that is indeed the case that would mean the list, despite having 4 million domains on it, isn't even complete (I know of at least one website

[2017-02-25 14:15] Phineas commented on #166
Added -> b7a7e78fbe37a9d3af1c06225ad912f70bbf698e Thanks!

[2017-02-25 14:15] #166 closed

[2017-02-25 15:54] ahmadawais commented on #37
C'mon guys! Command line for the win! MacOS comes with `curl` installed. Just open your terminal and write the following command.

[code]
Where `domain.com` is what you should change. It will download the file if it outputs your domain name then that means your site might be affected.

BTW to close the search you can use <kbd>CTRL</kbd> + <kbd>C</kbd>.

[2017-02-25 15:56] Coobers commented on #157
This request (and list in overall) is fundamentally flawed.
Big websites are attached via dns services that allow them to localize traffic.
Stackoverflow, github, ovh etc all use(d) cloudflare services to battle ddos attacks.
First two were using CF no longer than two weeks ago in some regions.

Not only it's ground for defamation (lawyers! authors info is here: https://github.com/pirate! ;)), but

[2017-02-25 16:16] Phineas commented on #157
@Coobers This is in no way illegal, it's just a list of all domains using Cloudflare - and people can remove their domains if they prove it wasn't going through the proxy or if it hosts only static content. There are already thousands of sites that scan huge hosts like Cloudflare and find all domains associated, this isn't really new.

This repo is merely to inform people about the whole Cloudflar

[2017-02-25 16:29] Coobers commented on #157
@Phineas I know you think that, but consider this. This approach allows us to create list of "possible" sexual offenders. You can put there anybody based on github avatar color.
From clearly methodological point of view such list would be flawed. Basis here is the same.
Methodological flaw leaves this list without merit other than defamation.

Regarding removal, if it was done via website - yes, b

[2017-02-25 16:32] Phineas commented on #157
@Coobers The repo is called "sites-using-cloudflare".. It's also said so many times in the README that not all websites have used the proxy, and also - we're not creating a list of "possible sexual offenders", lmao, we're creating a list of websites that could've been affected by Cloudflare.

[2017-02-25 16:36] pathmissing commented on #37
@ahmadawais The average user does not know what a command line is and how to use it. That's why this thread exists.

[2017-02-25 16:51] Coobers commented on #157
@Phineas Please understand it was an example, grounded to show you that it doesn't matter if you do it in IT or in simple terms, end cause is the same.

[2017-02-25 16:57] sahal2080 commented on #37
Stumbled upon this https://cloudbleedcheck.com

[2017-02-25 17:02] Coobers opened #172 "List status"
Please provide clearly in title or below that his list is unverified.
I'm referring to existing/not existing of bug on website but also to fact  that source you take list from do not contain all websites possible affected.

It's clear that this list:
- it comes from untrusted/unverified source
- it doesn't take under consideration website that utilize geo dns and different end point providers
- it

[2017-02-25 17:06] Eonasdan commented on #37
Made a windows app that will scan through your Google history against the list. https://github.com/Eonasdan/LeakyCloudChecker/tree/master. Can be downloaded from https://rink.hockeyapp.net/apps/d25274d5cd434dfabf22ff97782267d1/

[2017-02-25 17:08] Phineas commented on #37
You can also use this if you <3 Golang - https://github.com/Phineas/cloudbleed-search to copy the code into your own Go project, or anything.

[2017-02-25 17:13] sahal2080 commented on #37
@pirate et all can someone enable the wiki on this repo and add all the links of tools related there? Should be done following the commandment: though shalt do the Awesome list for thyself first!

Oh and add this site there too: https://bleed.cloud/index.html

[2017-02-25 17:29] sahal2080 opened #175 "Cloudbleed Surface Area"
According to this [post](https://www.outsideintel.com/cloudflares-cloudbleed-surface-area/), there are 1,030,501 sites are missing from your list. Just wanted to bring this to your attention.

[2017-02-25 17:46] coderobe commented on #175
Meh, i'd like a source on that other than "i was able to find more domains!"

[2017-02-25 17:53] coderobe commented on #172
This is mentioned in the readme.

[2017-02-25 17:55] coderobe commented on #157
@Coobers the readme explains that this repo does contain unverified domains that could've possibly been affected.

[2017-02-25 17:59] Coobers commented on #172
@coderobe Vaguely in details rather than in title.

Moreover it's clearly mentioned "Alexa Top 10,000 affected sites:", where it's list of potentially affected website, again misleading allegations without providing a shred of evidence.

[2017-02-25 18:01] Coobers commented on #157
@coderobe It is vaguely doing that and reversing it later on. You have follow up in #172

[2017-02-25 18:04] coderobe commented on #172
If you'd like to *improve* the wording you can open a pull-request with a fix.

[2017-02-25 18:13] coderobe commented on #124
Correct, DKIM verifies that the mail did indeed come from the origin domain.

[2017-02-25 18:19] EmmanuelMess commented on #37
@pathmissing https://cloudbleed.ak5s.com/ shows pages in duplicate ("localbitcoins.com", "animeflv.net").

[2017-02-25 18:26] coderobe commented on #37
it's also using an outdated list btw.

[2017-02-25 18:28] coderobe commented on #67
@lodicolo Your assumption is correct. And yes, this list is incomplete.

[2017-02-25 18:31] coderobe commented on #67
@caleuanhopkins If, at any point in time during the bug, a domain was proxied through cloudflare, it may have leaked data via other (unrelated) domains. We do not remove domains from the list that have used CF as a proxy during the affected time period. We may add a link to a blog post on said domain, explaining what happened.

[2017-02-25 18:34] pathmissing commented on #37
Did not update the tool because there were plenty other tools. This version uses the outdated list.

[2017-02-25 18:35] coderobe commented on #37
@sahal2080 bleed.cloud uses an outdated list as well.

[2017-02-25 18:36] coderobe commented on #37
Please don't post services here if you don't intend to keep them up to date.
Thanks in advance.

[2017-02-25 18:36] pathmissing commented on #37
Most tools here have been posted before we decided which one to pick.

[2017-02-25 18:39] coderobe commented on #37
Well yes, but sites like bleed.cloud have only been added very recently, yet they are using lists from 2 days ago.

[2017-02-25 19:24] pirate commented on #157
@Coobers I'm unclear as to where you think it's reversing it later on.  We try to be very explicit in the README, and honestly not much more is needed than the methodology section, as people can read that and come to their own conclusions as to the accuracy of the list.  Anyway, I've changed the header I think you might be referencing: https://github.com/pirate/sites-using-cloudflare/pull/179

[2017-02-25 19:24] pirate commented on #172
Does this help? @Coobers https://github.com/pirate/sites-using-cloudflare/pull/179

[2017-02-25 19:25] MiningPickaxe commented on #37
I'm trying to keep my site up to date. Theoretically it should sync it every 30 min, does not work atm, doing it manually as soon as a new version arrives. Currently working on fixing it.

[2017-02-25 19:27] coderobe commented on #37
@MiningPickaxe whilst your website does use an up-to-date list, the wording is still a bit unclear IMO.

[2017-02-25 19:27] MiningPickaxe commented on #37
If you could help me with that, I would appreciate it. I'm german and english is my secondary language...

[2017-02-25 19:29] Coobers commented on #172
@pirate You guys are defacing a lot of companies, banks for no good reason. We'll not participate in such action, so please act upon what you have been informed about.

[2017-02-25 19:30] #172 closed

[2017-02-25 19:30] coderobe commented on #172
You seem to be commenting here just for the hell of it.
@pirate Can we mute individual entities?

[2017-02-25 19:31] pirate commented on #172
@coderobe I'd rather not censor people unless they are really flooding us with an unmanageable number of messages.

[2017-02-25 19:32] coderobe commented on #172
@pirate i wouldn't call it unmanageable, but @Coobers has added comments of no real value on several different issues and PRs now.

[2017-02-25 19:35] Coobers commented on #172
@coderobe They are valuable, because it proved that you act without rules. Make ones.
For me I have my point and this is a much bigger case of lack of scientific follow-up which becomes dangerous.
I would like to participate, but legally it would make me potentially eligible.

[2017-02-25 19:36] derinb commented on #37
Hello guys,

I made Firefox and Chrome extension which checks your browser history for the affected websites. If you visited affected websites recently, extension will search and warn you. Check them out please and kindly review.

https://chrome.google.com/webstore/detail/cloudbleed/gmbmbodfgolnnfhfanhjeodfambaoklj
https://addons.mozilla.org/en-US/firefox/addon/cloudbleed/

Thanks

[2017-02-25 19:38] coderobe commented on #172
Well, your initial comment to this issue has already been fixed earlier. I don't see any of your follow-up comments describing issues that need to be fixed or anything like that.

[2017-02-25 19:40] coderobe commented on #37
@MiningPickaxe As you may understand, this is kinda out-of-scope here. You can check your site in to git though, allowing people to contribute.

[2017-02-25 19:40] Zenexer commented on #172
@Coobers None of the claims you've made are accurate.  We are utilizing authoritative resources and industry-standard techniques to compile as complete and accurate a list as possible.  This includes:

* Authoritative zone files distributed by ICANN and affiliated registries
* WHOIS data provided by registries and registrars
* Public routing data

In determining the most notable sites, we've utili

[2017-02-25 19:44] pirate commented on #172
@coderobe I'd rather leave the comments, other people may have the same opinions as him, and rather than re-commenting all the same things, they can just upvode/downvote his comments accordingly.

[2017-02-25 19:44] coderobe commented on #172
@pirate yes, i noticed that people are unable to vote on posts if the thread is locked so i unlocked it again.

[2017-02-25 19:46] Coobers commented on #172
@pirate thank you :)

[2017-02-25 19:49] Zenexer commented on #172
I should also note that many of the people who have contributed to this repo are involved with organizations affected by this incident.  We've come together to assess the damage, raise awareness, discuss our options, and ensure that we all have the information we need to make an appropriate decision for our respective companies.

If you or your organization have any questions about how this affect

[2017-02-25 19:51] Zenexer commented on #175
Actually, we have a bunch that were collected via a different method that haven't been added to the main list yet.  We don't want to mix them because it will make further verification and maintenance more complicated.  We're in the process of developing a solution.  In the meantime, you can find the domains I've collected so far via this method in #141.

[2017-02-25 19:53] Zenexer commented on #175
@sahal2080 Would you be comfortable calling this a duplicate of #141?  I don't want aim for the exact number in that post, because the wording isn't particularly reassuring--"potentially in scope" isn't really what we're aiming for.  We're trying to narrow it down to domains that were almost certainly using the Cloudflare proxy service at the time.

[2017-02-25 20:00] Zenexer commented on #157
@Coobers To clarify, this issue was just to address the possibility that there *could* have been a mistake--not that there actually *was* a mistake.  Ultimately, no action was taken a result of this issue.

When we're dealing with millions of entries in a dataset, errors are going to be inevitable, no matter how meticulous we are.  This is why it's important for us to double-check if there's even

[2017-02-25 20:06] Zenexer commented on #124
@tonyztan I haven't had the need to verify anyone's identity via email yet, but I'd be using DKIM, as previously mentioned.  If I can easily confirm a domain wasn't using the Cloudflare proxy during the relevant period, then I go ahead and remove the domain, as it shouldn't be on the list regardless of who requests the removal.  I don't really know what our policy is for cases like this one, thoug

[2017-02-25 20:19] MiningPickaxe commented on #37
The code is now avaible here: https://github.com/MiningPickaxe/Cloudbleed-Domain-Checker
Feel free to give feedback, help me with my grammar and spelling or help to add new features/fix bugs

[2017-02-25 21:19] LukBukkit opened #183 "Remove: lukweb.de, rgts.ga, twitch-tools.ga (static)"
Hello,

can you please remove my domains:
* lukweb.de
* rgts.ga
* twitch-tools.ga

You find me on [Keybase](https://keybase.io/lukbukkit), there are all three domains proved.
Thank you 😃

[2017-02-25 21:44] nikitasius commented on #67
Seriosly, make a work, check http/https connection of each domain and update the list.

[2017-02-25 21:45] Zenexer commented on #67
@nikitasius Sadly, it's not that simple, but we're doing our best.  If you'd like to help, feel free to contribute.

[2017-02-25 21:56] #183 closed

[2017-02-25 21:57] pirate commented on #183
@LukBukkit your sites have been removed 👍.

[2017-02-25 21:58] LukBukkit commented on #183
Thank you

[2017-02-25 22:30] nikitasius commented on #67
@Zenexer , my point of view is simple: if you do job, to it well and clear. This job done probably well (parsing), but not as clear as it should be.

Text

Not enough clear. Write possibly with HUGE LETTERS, precise what it's a DNS hosting, 'cause more and more people use this repo for kind of trash plugins for browsers without understanding how does it work and such crap affect the site/admin rep

[2017-02-25 22:32] coderobe commented on #67
@nikitasius like @Zenexer said, if you feel like the readme does not describe this repo well enough, you're free to send us a pull-request regarding this

[2017-02-25 22:57] jimmywarting opened #187 "Remove: onlinefontconverter.com (static)"
You can remove https://onlinefontconverter.com it's just a static site
proof? I link to the github repo on the page and the repo owner is me

[2017-02-25 23:00] sahal2080 commented on #175
@coderobe I'm with you if this guy was a just a random person but he was quoted in a well-known site specializing in cyber security: http://www.darkreading.com/attacks-breaches/cloudflare-leaked-web-customer-data-for-months/d/d-id/1328266?print=yes

@Zenexer I wouldn't know. My suggestion is to have a strategy:
* Have clear goals that would translate to clear prioritization criteria
* Add the data

[2017-02-25 23:11] pirate commented on #187
Done 👍

[2017-02-25 23:11] #187 closed

[2017-02-26 00:08] DtpEJsaYXDU4GDH8dE4MyI9VrieF0UZpPZ0K76K commented on #175
You can connect with openssl s_client and dump all combined domains in the certificate bundle. Eg. Everything in the name, SAN, etc cert fields. This will be more representative than trying to tie via DNS. The bundling more applies to lower tier services though and the larger enterprise customers on alexa top domains may still need to be manually correlated. But you could find test domains of larg

[2017-02-26 00:22] mikemrm commented on #37
I made a tool to search your Chrome and FireFox history and compare it to the current list of sites and tell you which sites you've been to are affected. Would appreciate you considering adding it to the list.
https://github.com/mikemrm/CloudFlare-HistoryChecker

[2017-02-26 00:27] coderobe commented on #175
@DtpEJsaYXDU4GDH8dE4MyI9VrieF0UZpPZ0K76K That would yield inaccurate results. Cloudflare keeps and renews certificates for your domain even if you use them only as a DNS, providing you were routing at least one (sub)domain through their proxy at any point in time, even if that was years ago. See one of my domains for example: https://crt.sh/?q=broda.me

[2017-02-26 00:28] thislooksfun commented on #37
@mikemrm added!

[2017-02-26 00:30] mikemrm commented on #37
Thanks!

[2017-02-26 00:33] DtpEJsaYXDU4GDH8dE4MyI9VrieF0UZpPZ0K76K commented on #175
@coderobe then what is the proposed best method? Lookup all Alexa / top interesting root domains, find / brute force all subdomains, and check for DNS record pointing to cloudflare IP blocks?

[2017-02-26 00:35] taltman commented on #37
I created a tool to check your browsing history across several browsers on MacOSX against the list, feedback welcome! https://github.com/taltman/cloudbleed-browser-scan

[2017-02-26 00:37] coderobe commented on #175
@DtpEJsaYXDU4GDH8dE4MyI9VrieF0UZpPZ0K76K This is one of the only options, yeah. CURLing the headers and checking for `CF-*` or `Server: cloudflare-nginx` is another method, but i think (ab)using DNS and comparing IPs is the best and most accurate option we have.

[2017-02-26 02:20] peterrosell commented on #37
Another tool for bulk checking against the list of possible affected sites, https://github.com/peterrosell/cloudbleed-check. It always fetches the master version of the list. To use it you just pipe a file containing hostnames or urls. No external dependencies and can also be run as a docker container.

[2017-02-26 02:23] coderobe commented on #37
@peterrosell you mean like `curl -Ls https://git.io/vyT0W | grep -x 'domain.com'`? 😉

[2017-02-26 02:26] pirate commented on #37
I'm a little wary of all these Chrome extensions, this list is intended for companies more than individuals.  It will alert if they go on any of 4,000,000+ domains.  There will be too many false positives to make it a useful tool, and by forcing users to reset so many passwords, we're more likely to make them choose poor ones.

[2017-02-26 02:38] pirate commented on #175
@coderobe @DtpEJsaYXDU4GDH8dE4MyI9VrieF0UZpPZ0K76K at this point it's too late to trust header/dns data to reflect proxy customers during the 6 month window, too many people have turned off Cloudflare in the last two days. IF we do a header scrape, we could tag domains with [currently using cloudflare proxy] to the list, but I wouldn't want to remove any from the list that aren't using it.

[2017-02-26 02:39] coderobe commented on #175
Right. That's yet another problem.

[2017-02-26 02:45] peterrosell commented on #37
@coderobe more like this: ```echo "select url from urls;" | sqlite3 ~/.config/google-chrome/Default/History | \
    docker run -i --rm peterrosell/cloudbleed-check:latest```
It checks all urls from the input file

[2017-02-26 06:16] DarthFutuza commented on #124
@Zenexer the de.jkhub.org/ darkempireofthesith.com don't share any credential information with the main site - so the main site wouldn't be affected.  I actually didn't know about the darkempireofthesith one, so I'll forward the information over to the owner to do with it as he will.

[2017-02-26 06:42] taltman commented on #37
I've extended my tool for checking browser history on Mac (Safari, Chrome/Chromium, Firefox/TorBrowser) to now output the number of visits (summed across all browsers), and to report the most recent visit date (across all browsers) in addition to the URL, to make it easy to whittle down a large list (in my case, from 359 to 28 domains to manually check). Check it out here: https://github.com/taltm

[2017-02-26 08:25] grub-basket opened #191 "Dynalist and Teachable are using CloudFlare"
I have no idea how to do a pull request, so I apologize in advance for opening an issue for this.

[Dynalist.io](dynalist.io) (they said that they were most probably not affected, in an email by CloudFlare)
[Teachable.com](teachable.com) (formerly Fedora) - I only [checked](whoishostingthis.com) who their host was.

[2017-02-26 09:01] caleuanhopkins commented on #67
I appreciate the work and the fact you guys are volunteering to maintain this and I'd like to think everyone involved in thankful for all the work you guys are doing. I would also be highly appreciated if a procedure as agreed upon for marking "cleaned" sites on this as right there is not an obvious way to determine from the list which sites owners are aware of the leak and have taken action and t

[2017-02-26 13:43] TobiX commented on #175
Did anyone do a Shodan search for the Server: header?

[2017-02-26 14:26] TobiX opened #195 "Some sites to add to the notable domains?"
Maybe add the following sites to the list of notable domains, since they might be a bit more "impactful"?

- chocolatey.org (Software distribution, API keys)
- inwx.de (German domain provider)
- privatevpn.com (VPN provider)
- flattr.com (Community payment)

Some smaller game bundle sites besides Humble Bundle also use CloudFlare, which raises the question if it would be a good idea to add "shoppi

[2017-02-26 14:28] Phineas commented on #195
I haven't heard of any of the websites here - notable sites are meant to be "popular sites" really, not sites which might have a high impact rate.

[2017-02-26 16:22] coderobe commented on #195
the only sites i've ever heard of in that list would be chocolatey & flattr

flattr might be worth to add because it's a payment system

[2017-02-26 16:59] pureexe opened #198 "Remove: pureapp.in.th (static)"
Hello,
can you please remove my domains: [pureapp.in.th](https://www.pureapp.in.th)

it uses static page you can found repository at https://github.com/pureexe/www.pureapp.in.th
it also has other subdomain but all domain have pointed to GitHub.

![no longer](https://cloud.githubusercontent.com/assets/1303847/23341697/0b93fed0-fc7f-11e6-9bad-db7e707ed79d.png)
it has 2 subdomain that is no longer av

[2017-02-26 21:32] Zenexer commented on #175
@TobiX I did, but there's too much data for it to be useful.

[2017-02-26 22:03] DtpEJsaYXDU4GDH8dE4MyI9VrieF0UZpPZ0K76K commented on #175
Since all major govs would have this historical DNS data, has anyone just kindly asked cloudflare to publish all the affected domains?

[2017-02-26 22:29] Phineas commented on #175
@DtpEJsaYXDU4GDH8dE4MyI9VrieF0UZpPZ0K76K No & they're not going to - it'd be a bit stupid if they did in terms of client security. There still might be data available from those leaked domains.

[2017-02-26 23:40] Pyker opened #202 "Remove notenoughmods.com"
Hello,

Can you please remove notenoughmods.com since it only hosts static data (no logins, no user data, etc)?

Thank you

[2017-02-27 00:54] GatheringRays opened #203 "Remove: nightcube.net (Static) (No User Data Stored)"
[nightcube.net](https://www.nightcube.net) stores no personally identifiable information and does not have a single database that could've been leaked either way. This site is in fact cached by Cloudflare; however, no user data (except for the standard log files for recording user's actions on the site) is stored, which means our site has not been affected in any way by CloudBleed. We don't even h

[2017-02-27 01:07] Phineas commented on #203
:thinking: https://www.nightcube.net/phpmyadmin

[2017-02-27 01:19] GatheringRays commented on #203
MySQL was used in a previous version of NightCube used 2 years ago on a different domain, which is why the directory for PHPmyAdmin still exists, but is has since been erased and wiped entirely. We have verified that no data exists here and that the SQL server was completely shut down and wiped clean. All that remained was the PHPmyAdmin directory, which cannot be removed without causing issues wi

[2017-02-27 01:20] taltman commented on #37
OK, cloudbleed-browser-scan now has been ported over to Linux. Would love for some help to get it ported to Windows...

[2017-02-27 01:56] Eonasdan commented on #37
@taltman I have a wfp/windows app that does that

[2017-02-27 02:14] taltman commented on #37
@Eonasdan Nice! Thanks for pointing it out to me. Does it support browsers on Windows beyond Chrome?

[2017-02-27 02:19] TheReverend403 opened #205 "Removal of foxdev.co, revthefox.co.uk, pste.pw, foxbnc.co.uk and notoriousdev.com"
None of my domains have used CloudFlare's CDN since Let's Encrypt was in private beta, so it is not possible for them to have been affected.

https://keybase.io/thereverend403/ and I can send an email from @notoriousdev.com upon request.

[2017-02-27 02:29] mikemrm commented on #37
Additionally. The app that I created above does chrome and Firefox in windows

[2017-02-27 02:51] GunfighterJ opened #206 "Remove ganking.club, jennig.es, gunfighterj.com, hogs.space, hogscollective.space"
Well, guilty til proven innocent I guess.

Below are links to a static text document on each of the above domains proving my ownership and request for removal. They will link to this issue and will be updated within a couple minutes after being submitted with the proper link.

The domains listed were using cloudflare only for DNS except for gunfighterj.com which is a static site with no user conte

[2017-02-27 03:36] neko opened #207 "remove nya.is"
Nya.is does not use the service in a way that would make it vulnerable to the data leaks; we only use Cloudflare's proxy for static content.

Proof that I own the domain can kinda be found on [my keybase](https://keybase.io/senpai).

[2017-02-27 03:53] nuvious commented on #37
I wrote a java app for those that have password managers and can generate a list of all the domains they have accounts on. Youtube tutorial in ReadMe.md file.

https://github.com/nuvious/CloudFareDomainSearch

[2017-02-27 07:26] erikCurlify opened #208 "Remove: adcanvas.com. No sensitive data was stored over CDN."
**Please, do not create duplicate issues**

### DISCLAIMER:
This list contains *all* domains that use CloudFlare DNS, not just the CloudFlare SSL proxy (the affected service that leaked data).
It's a broad sweeping list that includes everything.  Just because a domain is on the list does not mean the site is compromised.
This list will be narrowed down to the affected domains as we get more inform

[2017-02-27 08:35] jose-oc commented on #163
ankiweb.net recommends to change the password because of this issue. It could be added to the list.

[2017-02-27 08:54] Phineas commented on #206
Do you have Keybase proof?

[2017-02-27 08:55] Phineas commented on #207
But you have a login/register page on the site?

[2017-02-27 08:59] Phineas commented on #205
Could you add notoriousdev.com to your Keybase?

[2017-02-27 15:14] Zenexer commented on #206
@Phineas I think those text files should be sufficient, no?

[2017-02-27 15:17] GunfighterJ commented on #206
I added my github profile to each text file.

[2017-02-27 15:23] MeltedLux opened #212 "Removal of hatethe.uk, hasabig.wang, hasalittle.wang, melted.me, melted.pw, invictusmc.uk, invictusmc.us"
None of these domains have ever used Cloudflare as a CDN service only as DNS they were not affected by this vulnerability.

https://keybase.io/meltedlux

You are also listing mitigation.pw & mitigation.tech which have expired on the 25/02/2017 and were also only using Cloudflare as DNS. [Namecheap Proof](https://i.hatethe.uk/bnettNrgrnAT.png)

These domains are also listed on my keybase sigchain a

[2017-02-27 15:26] coderobe commented on #208
The issue content exists for a reason. Please give more details. Did you use the CDN at all? Affected subdomains? The current www. site does not use CF as proxy.

[2017-02-27 15:35] coderobe commented on #212
invictusmc.uk is not static, so we'll have to confirm your identity. Please send a mail to spam@rob1nn.pw (me) with an @invictusmc.uk address referencing this issue, confirming you did not use CF as a proxy during the affected time period.

[2017-02-27 15:39] coderobe commented on #206
@GunfighterJ No, keybase provides a cryptographic proof as well

[2017-02-27 15:40] GunfighterJ commented on #206
Cryptographic proof of what?

[2017-02-27 15:40] coderobe commented on #206
Although the domain(s) in question don't seem like something that needs extra validation, so i'd let it pass

[2017-02-27 15:40] TheReverend403 commented on #206
What do you need a cryptographic proof for? The domain itself links to his Github profile, it's not like that could happen if he didn't own it.

[2017-02-27 15:40] coderobe commented on #206
@GunfighterJ Proof of ownership. The text files should be sufficient in your case though.

[2017-02-27 15:43] coderobe commented on #205
@Phineas notoriousdev.com seems like a static page, i don't think we need additional confirmation for that

[2017-02-27 15:46] MeltedLux commented on #212
I have done so.

[2017-02-27 15:51] coderobe commented on #212
I received the mail, it doesn't seem to be signed by DKIM or PGP.
I was able to verify that the mail likely came from the MX authority for invictusmc.uk, though. MX for invictusmc.uk is mail.melted.me, which points to bifrost.melted.me - the host my server received the mail from.

@MeltedLux I will remove your domains.

[2017-02-27 15:55] TheReverend403 opened #213 "Stop requiring ownership verification."
There is absolutely no legitimate reason you should require somebody to own a domain to get it removed from the list. If I want to go out of my way to verify a shit load of domains and provide that list to you, thus making *everyone's* lives easier, why can't I? You're making this far more complicated than it needs to be for everyone involved and I can't understand why other than that you seem to

[2017-02-27 16:16] coderobe commented on #213
It's for dynamic content. We can't verify that the site was using CF as a proxy during the affected time period, so we're taking the owner's word for it - provable by mail, nonce, or keybase.

We will remove static sites without verification.

[2017-02-27 16:20] coderobe commented on #213
So that if users complain here that information X is now leaked even though it was removed from the list, we can show them that the site owner said they were not affected.

[2017-02-27 16:58] #212 closed

[2017-02-27 18:02] Zenexer opened #215 "Automated verification"
# Status #

- [x] Write SQLite schema
- [x] Write Python zone file parsing utility
- [x] Parse com/net zone files
- [x] Write Go DNS scanning utility
- [x] Scan DNS records based on com/net zone files
- [ ] Load list from README.md into SQLite database
- [ ] Scan DNS records based on README.md
- [ ] Investigate alternative methods of historical verification for domains that couldn't be verified
-

[2017-02-27 18:44] TraderStf opened #216 "few more sites"
sorry, as I did not find several of them, here there are,

For some sites, it's difficult to change login/password.
Just act like you forgot your password, that will make it.

adguard.com
alternativeto.net
attracta.com
dnscheck.co
dwolla.com
eglobalcentral.fr
ello.co
ideascale.com
keepsolid.com = simplexsolutionsinc.com
notepad.cc
oneplus.net
privatetunnel.com
shodan.io
singularityhub.com
stacksoc

[2017-02-27 19:09] smdvw5 commented on #37
I hacked together a python script for going over exported Firefox bookmarks (save as 'bookmarks.json') as there is not a Firefox add-on for that at the moment.
Quick export guide: Bookmarks -> Show All Bookmarks -> Import and Backup -> Backup (name it 'bookmarks.json').
Have 'sorted_unique_cf.txt' downloaded in the same folder.
Run 'python3 site_search.py'.
( https://github.com/smdvw5/sites-using-

[2017-02-27 23:59] neko commented on #207
what proof do you need? literally ping nya.is and see that it returns a trabia IP, not a cloudflare IP.

🤔

[2017-02-28 00:03] neko commented on #207
as for proof of identity, i linked to my keybase in the OP

![wat](https://u.nya.is/hrkfxe.png)
that's a real thonker right there

[2017-02-28 02:00] #207 closed

[2017-02-28 02:01] #198 closed

[2017-02-28 02:02] #202 closed

[2017-02-28 08:29] pirate commented on #215
+++ on all points.  This list was never intended for end users, and I don't like that it's gotten as much non-tech press as it has.  I'm vaguely considering closing the issue on search tools and making the wiki harder to find for the same reason.  The original purpose was to encourage people to reset passwords, but really the important effect was to put pressure on affected vendors to rotate sessi

[2017-02-28 08:36] pirate commented on #213
@TheReverend403, as I mention in the issue template, verification is for a paper trail only, so that owners of major sites can have their domains removed from the list and be held accountable in case leaked data is found later on.  We're not accepting, nor do we need verification for smaller sites that don't collect user data.  I'm also taking removal requests via private twitter DMs for sites tha

[2017-03-01 12:08] broxp opened #223 "github itself?"
Quick question.

github.se is listed in your file, and also is positive on [doesitusecloudflare.com](http://www.doesitusecloudflare.com/?url=github.es).

Interestingly it redirects to https://github.com/sejas, which is not positive ([doesitusecloudflare.com/?url=github.com%2Fsejas](http://www.doesitusecloudflare.com/?url=github.com%2Fsejas))

So, is any part of github subject to cloudbleed or is i

[2017-03-01 14:35] Eonasdan commented on #37
@taltman for whatever it's worth at this point.... my app now supports FF

[2017-03-01 20:58] pirate commented on #223
Github.es is a personal site, and not affilieated with github.com (which was not affected).

[2017-03-01 20:58] #223 closed

[2017-03-03 16:59] s860304 opened #227 "remove besv.net 10101.info"
besv.net just use Cloudflare DNS
use CDN before 2016/08/01

http://server9.rscott.org/tools/lookup.htm?domain=besv.net&date=20160731
http://server9.rscott.org/tools/lookup.htm?domain=besv.net&date=20160801
http://server9.rscott.org/tools/lookup.htm?domain=besv.net&date=20160901
(No history at October)
http://server9.rscott.org/tools/lookup.htm?domain=besv.net&date=20161101
http://server9.rscott.or

[2017-03-13 03:24] GunfighterJ commented on #206
Any update? The proof is there, I would like my sites removed please.

[2017-03-13 04:21] MeltedLux commented on #206
:^)

[2017-03-13 05:53] TheReverend403 commented on #206
This list is honestly the worst form of cancer I've personally ever seen on the internet. Guilty until proven innocent, except even when proven innocent, you're at the mercy of collaborators who clearly can't be bothered to even maintain their shitty list anymore.

![guilty m8](https://cdn.vectorstock.com/i/thumb-large/13/23/9521323.jpg)

On 13 March 2017 03:24:48 GMT+00:00, GunfighterJ <notificat

[2017-03-13 13:49] coderobe commented on #206
@TheReverend403 You should've read the ReadMe & the repo name. This is not a list of "hacked sites"™, it's a list of sites using Cloudflare *during the affected time period*.

[2017-03-13 13:49] coderobe commented on #206
@GunfighterJ Can you post a PR addressing this issue? I'll merge it.

[2017-03-14 04:34] MeltedLux commented on #206
For a list of sites using Cloudflare during the time their _nginx_ was affected there's a whole lot of incorrect entries :^)

[2017-03-14 08:03] pirate commented on #206
@coderobe fyi text file is sufficient proof of ownership, and proof of ownership isn't needed for static sites (it's only for paper trail for large sites).

[2017-03-14 08:08] pirate commented on #37
Closing this issue, I don't recommend that anyone create new tools to search list list due to having too many false positives.  I'm going to work on archiving this repo, but thanks for everyone's help so far!

[2017-03-14 08:08] #37 closed

[2017-03-14 08:32] pirate commented on #124
I'm closing this issue and others like it.  The list is now archived an I'm not accepting any change requests.  I know this comes as a surprise and may seem unfair but please consider the following:

 - you can link concerned users directly to our [README](https://github.com/pirate/sites-using-cloudflare/blob/master/README.md), which explicitly states the list contains many unaffected sites
 - you

[2017-03-14 08:32] #124 closed

[2017-03-14 08:32] pirate commented on #163
I'm closing this issue and others like it.  The list is now archived an I'm not accepting any change requests.  I know this comes as a surprise and may seem unfair but please consider the following:

 - you can link concerned users directly to our [README](https://github.com/pirate/sites-using-cloudflare/blob/master/README.md), which explicitly states the list contains many unaffected sites
 - you

[2017-03-14 08:32] #163 closed

[2017-03-14 08:32] pirate commented on #191
I'm closing this issue and others like it.  The list is now archived an I'm not accepting any change requests.  I know this comes as a surprise and may seem unfair but please consider the following:

 - you can link concerned users directly to our [README](https://github.com/pirate/sites-using-cloudflare/blob/master/README.md), which explicitly states the list contains many unaffected sites
 - you

[2017-03-14 08:32] #191 closed

[2017-03-14 08:33] pirate commented on #195
Sorry guys, archiving this list.  Really appreciate all the contributions though!

[2017-03-14 08:33] #195 closed

[2017-03-14 08:34] pirate commented on #203
I'm closing this issue and others like it.  The list is now archived an I'm not accepting any change requests.  I know this comes as a surprise and may seem unfair but please consider the following:

 - you can link concerned users directly to our [README](https://github.com/pirate/sites-using-cloudflare/blob/master/README.md), which explicitly states the list contains many unaffected sites
 - you

[2017-03-14 08:34] #203 closed

[2017-03-14 08:34] pirate commented on #205
I'm closing this issue and others like it.  The list is now archived an I'm not accepting any change requests.  I know this comes as a surprise and may seem unfair but please consider the following:

 - you can link concerned users directly to our [README](https://github.com/pirate/sites-using-cloudflare/blob/master/README.md), which explicitly states the list contains many unaffected sites
 - you

[2017-03-14 08:34] #205 closed

[2017-03-14 08:34] pirate commented on #206
I'm closing this issue and others like it.  The list is now archived an I'm not accepting any change requests.  I know this comes as a surprise and may seem unfair but please consider the following:

 - you can link concerned users directly to our [README](https://github.com/pirate/sites-using-cloudflare/blob/master/README.md), which explicitly states the list contains many unaffected sites
 - you

[2017-03-14 08:34] #206 closed

[2017-03-14 08:35] pirate commented on #208
I'm closing this issue and others like it.  The list is now archived an I'm not accepting any change requests.  I know this comes as a surprise and may seem unfair but please consider the following:

 - you can link concerned users directly to our [README](https://github.com/pirate/sites-using-cloudflare/blob/master/README.md), which explicitly states the list contains many unaffected sites
 - you

[2017-03-14 08:35] #208 closed

[2017-03-14 08:35] pirate commented on #213
No longer accepting ownership verification, or any removal requests for that matter.

[2017-03-14 08:35] #213 closed

[2017-03-14 08:36] pirate commented on #215
Archived the list, no longer doing manual verification.

[2017-03-14 08:36] #215 closed

[2017-03-14 08:37] pirate commented on #227
I'm closing this issue and others like it.  The list is now archived an I'm not accepting any change requests.  I know this comes as a surprise and may seem unfair but please consider the following:

 - you can link concerned users directly to our [README](https://github.com/pirate/sites-using-cloudflare/blob/master/README.md), which explicitly states the list contains many unaffected sites
 - you

[2017-03-14 08:37] #227 closed

[2017-03-14 15:15] GunfighterJ commented on #206
Thank you. I can agree to this.

[2017-03-23 13:42] mikkorantalainen commented on #87
I think that Cloudflare is able to tell if somebody is NOT affected because they probably have logs that tell which request was served by each proxy server. Because the leak was only triggered by 770 separate URLs they can list proxy requests that were served by the same proxy process before triggering the bug. If you were lucky enough to not being ever served by the same process that was handling

[2017-12-01 14:34] ghost commented on #67
@33b5e5

Please note that the list may be intended for CloudBleed awareness, but ppl could be using it for other purposes.

I'm using it to do an ethical check on organizations.  For me the broadness of the list is not an issue.. I have a script that checks this list (among others) whether an organization I'm researching is doing something unethical.  If the org appears on this list, then I run th

[2017-12-02 00:35] pirate commented on #67
@libBletchley this list is not ideal for what you're doing.  For your purposes you're best off going to [crimeflare.com](http://crimeflare.com/cfs.html) where the list is kept more up-to-date.  If you want people who are specifically proxied through Cloudflare you could try scraping any [certificate transparency logs](https://filippo.io/behindthesofa/) you can get your hands on, they're often full

[2017-12-02 11:59] ghost commented on #67
@pirate

Thanks.  I knew about crimeflare but didn't realize they had a list.

The 2nd domain I checked (`change.org`) was unlisted.  When I used the crimeflare search tool, it replied "Search aborted — these are not CloudFlare-user nameservers. "  So apparently it was wrong for me to assume that all proxied services are also using CF DNS.  And if I understand correctly crimeflare is also making t

[2017-12-02 12:36] ghost commented on #67
@33b5e5

I found that funny, because CloudFlare customers are lumping all Tor visitors into the same pile and treating them as malicious (although many of them do so unwittingly, but still hard to inspire sympathy for anyone doing business with CF).

[2017-12-05 09:42] Zenexer commented on #67
@libBletchley

1. Two wrongs don't make a right.  You're still bound by standard laws and ethics in your pursuit of justice.
2. You're implying [guilt by association](https://en.wikipedia.org/wiki/Association_fallacy).
3. There are resources floating around that are much better suited for your purposes.  There are security research companies that sell access to lists of almost all known domain nam

[2017-12-05 11:11] ghost commented on #67
@Zenexer

This only applies when two actions are "wrong".  You've not established that the second action is wrong to begin with.

CloudFlare is an unethical vigilante extremist organization.  Consequently, feeding that company is unethical.  Actions that mitigate feeding CloudFlare supporters are not only not wrong, there is in fact an ethical duty _not_ to feed CF supporters.

Not sure what you m

[2017-12-05 11:30] Zenexer commented on #67
@libBletchley I have nothing against you expressing your opinion, but you're doing so in a dormant issue for a project that essentially serves as an archive; it's not actively updated, as it is meant to preserve a snapshot of a subset of sites using Cloudflare at a specific point in time.

[2018-01-16 04:33] alo24h opened #232 "alo24h.com not affected - added link to post"
- [alo24h.com](https://alo24h.com)
- [ma giam gia lazada](https://alo24h.com/ma-giam-gia/lazada)

[2018-01-17 04:20] pirate commented on #232
See readme:

[code]

[2018-01-17 04:20] #232 closed, assigned to nobody